[2016-12-28 09:36] tomusdrw opened #3 "Get rid of namespace traits?"
Doesn't bring in much value to have them, and you need to import them :/

[2016-12-28 10:02] rphmeier opened #4 "Better types module"
Probably can port over or publish part of `ethcore-rpc`

[2016-12-28 10:12] tomusdrw commented on #4
yup, already listed in todos, I think I would rather port them then trying to re-use.

[2016-12-28 10:59] #3 closed

[2016-12-29 15:38] rphmeier commented on #4
Partially addressed by #7
Next up: Block and Transaction types.

[2016-12-29 21:01] rphmeier opened #8 "Re-export Futures as submodule"
As `futures-rs` is part of the `rust-web3` public API it should be re-exported.

[2017-01-03 10:41] tomusdrw opened #12 "Format code with 4 spaces instead of 2"
I copied `.editorconfig` from some other project and it had 2 spaces in it. We should re-format the code to 4 as per rust guidelines.

[2017-01-03 10:42] tomusdrw opened #13 "Implement missing standard APIs"
Have a look at the list in README

[2017-01-03 10:43] tomusdrw opened #14 "WebSockets transport"

[2017-01-03 10:44] tomusdrw opened #15 "Batch requests"

[2017-01-03 11:28] tomusdrw opened #16 "Move transports to separate crates"

[2017-01-10 09:32] tomusdrw opened #17 "Generate structs from contract interfaces"
Example:
[code]

[2017-01-10 10:37] tomusdrw opened #19 "Contract `Output` should have associated Error type"

[2017-01-19 14:55] rphmeier commented on #17
This would be seriously awesome :)
IMO this would be more easily accomplished if we mangled the solidity syntax a bit so all input/output types are just Rust-named. Then the types can just be used directly via `IntoTokens`/`FromTokens` and we don't have to maintain any kind of mapping from `uint256` -> `U256` or `address` -> `Address`, etc.

[2017-01-19 14:57] rphmeier commented on #17
It also might make sense to generate _modules_ from such a macro to encapsulate the events as tuple-structs.

[2017-01-19 15:03] rphmeier commented on #16
This makes sense, but it would be nice to leave them in this repo as well, while linking them in with a default feature.

[2017-01-22 13:05] rphmeier commented on #4
Done in #20

[2017-01-23 14:37] rphmeier opened #21 "support `no_std`"

[2017-01-24 10:41] rphmeier opened #22 "SealFields type"
...with chain-specific types which are decodable from it: (e.g. an `EthashSeal` or a `TendermintSeal`).

[2017-02-16 12:47] tomusdrw opened #23 "Migrate to serde_derive"

[2017-02-21 10:10] #23 closed

[2017-03-08 08:57] tomusdrw opened #26 "Contract logs support"
Seems that contracts can only query the blockchain or call methods.
There should be filter-like logs retrieval.

[2017-05-05 09:59] tomusdrw opened #27 "Use latest (async) hyper for HTTP transport"

[2017-05-30 06:55] tomusdrw opened #36 "WebSockets transport"
https://crates.io/crates/websocket

[2017-05-30 06:55] tomusdrw opened #37 "Pub-Sub support"
Requires #14

[2017-06-02 09:14] debris opened #38 "Find better name for CallResult"
https://github.com/tomusdrw/rust-web3/pull/35#discussion_r119070600

[2017-06-27 01:06] rphmeier commented on #37
[code]

How should it work with batch transport? Should you be able to batch regular requests with subscriptions?

Maybe a general stream wrapper for encapsulating subscription ID and dropping logic?

[2017-06-28 14:05] jellelicht commented on #13
Will shh also be supported eventually?

[2017-06-28 15:15] rphmeier commented on #13
@jellelicht While the whisper API is far from standard, work on implementing it is in-progress.

[2017-06-28 15:16] tomusdrw commented on #13
Sure, feel free to update the Readme or submit a PR with the code.
Also note that you can implement your own namespace and use generic `web3.api()` method: https://tomusdrw.github.io/rust-web3/web3/api/struct.Web3Main.html#method.api
to instantiate your custom methods.

[2017-07-01 20:17] tomusdrw commented on #15
Closed via #41

[2017-07-01 20:17] #15 closed

[2017-08-03 08:01] usd-yamazaki opened #47 "How do I get multiple return values from the contract function?"
There is a function of such a contract.
`function getValues() public constant returns (uint[], byte[64][], address[])`

I wrote the Rust code to receive the value, but this is an error.
[code]
[code]

It worked when you made changes to crate, but I think this is a bad way.

`use ethabi::Token;` -> `use web3::contract::tokens::Token;`

`use ethabi::Token;` -> `pub use ethabi::Token;`

`#[derive(Deb

[2017-08-03 08:05] tomusdrw commented on #47
AFAIR you should be able to do:
[code]
i.e. `Tokens` is implemented for tuples (up to 5)

[2017-08-03 09:32] usd-yamazaki commented on #47
Thank you for advice.
I tried it, but it was an error.

[code]

[2017-08-03 10:47] tomusdrw commented on #47
Seems that it's not possible to decode vectors/arrays of return values. I'm on it.

[2017-08-03 14:33] tomusdrw commented on #36
Duplicate #14

[2017-08-03 14:33] #36 closed

[2017-08-04 12:01] #47 closed

[2017-08-07 10:02] usd-yamazaki opened #50 "I can not receive the values of "byte[64][]" returned by the contract."
It is the continuation of #47.
Thank you for the correspondence of #47.

When I tried it with the latest source, I can compile it, but I get an InvalidOutputType error.
I tried several while changing the type, but it did not work.

contract interface:
[code]

rust source:
[code]

Try 1:
[code]
[code]

Try 2:
[code]
[code]

Try 3:
[code]
[code]

How can I receive the values?
Thank you.

[2017-08-07 16:42] tomusdrw commented on #50
Yeah, it seems that `byte` is actually encoded like `bytes1` - so it means it will be a one-element array.

In order to receive your type you will need to do (after #51 lands):
[code]
or
[code]

[2017-08-08 05:27] usd-yamazaki commented on #50
Thank you for fixing.
With #51 source, this worked fine!

[code]

However, this is a compile error.
[code]
[code]

Perhaps, I think that it is a problem that there is no "64" here.
https://github.com/serde-rs/serde/blob/master/serde/src/de/impls.rs#L723

Thank you.

[2017-08-09 02:33] casey opened #53 "Example showing how to deploy a new contract instance"
Assuming that this is possible, an example showing how to deploy an instance of a new contract would be great. The example could assume that "solc" is installed on the system and shell out to it to compile the contract.

[2017-08-17 00:34] casey commented on #53
Also, If you can give some hints for how to do it, I'd be happy to write such an example myself.

[2017-08-19 15:11] tomusdrw commented on #53
Hi @casey, deploying a contract is as simple as sending transaction without a `recipient`.
You need a contract deployment bytecode (obtaining it is outside the scope of this library, you can use `solc` to do that) and you put it in `data` field of the transaction.

[code]

[2017-08-22 16:16] #27 closed

[2017-08-23 06:25] casey commented on #53
I'm working on creating an example now, which I'll submit for inclusion once it's done.

One question, if the contract constructor takes a value, how is that value passed in the `TransactionRequest`?

[2017-08-23 09:27] tomusdrw opened #56 "Migrate to ethabi 4.0"

[2017-08-23 09:27] debris commented on #56
I will take this one, ok? :)

[2017-08-23 09:28] tomusdrw commented on #56
Sure! :)

[2017-08-23 09:35] debris commented on #56
done

[2017-08-23 09:42] #56 closed

[2017-08-24 19:33] tomusdrw commented on #53
Hey! Seems that indeed its not yet possible without using `ethabi` externally.
I'll implement a convenience method to deploy a contract tomorrow - it will handle encoding of constructor parameters and sending a transaction.

Thanks for digging into this!

[2017-08-25 10:36] #50 closed

[2017-08-26 00:34] casey commented on #53
Sweet, thank you!

[2017-08-28 13:45] debris opened #60 "don't use boxed"
https://github.com/alexcrichton/futures-rs/issues/228

[2017-09-11 06:29] usd-yamazaki opened #61 "How can I use it with dynamic linking?"
Since this library is an LGPL license, I would like to use it with dynamic linking.
How can I do dynamic linking?
Thank you.

[2017-09-14 09:24] debris commented on #61
fork the library and change `crate-type` to `dylib` or `cdylib`. [docs](http://doc.crates.io/manifest.html#building-dynamic-or-static-libraries)

[2017-09-19 07:20] usd-yamazaki commented on #61
thank you for your answer.
I tried and succeeded in the following way.

- Added dylib setting to rust-web3/Cargo.toml
[code]

- Added export function to rust-web3/src/lib.rs
[code]

- Create a calling program
[code]

However, in this case, it seems to be very wasteful as we have to prepare a large number of export functions.
As far as I looked, Rust and LGPL license don't go along well.
Would you

[2017-09-19 08:00] usd-yamazaki commented on #61
I referred to here.
https://internals.rust-lang.org/t/cargo-build-certain-dependencies-as-dylibs/4586

[2017-09-19 14:05] #60 closed

[2017-09-26 10:49] #53 closed

[2017-09-26 16:34] #61 closed

[2017-09-27 04:53] usd-yamazaki commented on #61
I appreciate the wonderful action!

[2017-10-01 10:53] tomusdrw opened #67 "Use error_chain for errors."

[2017-10-02 12:20] #67 closed

[2017-10-02 14:45] tomusdrw opened #69 "Use `bigint` for uint types."

[2017-10-03 08:03] alanpoon opened #70 "testrpc runtime error: Stack underflow in Contract example"
I could deploy contracts using truffle in testrpc without problem.

[2017-10-03 13:20] tomusdrw commented on #70
Do you mean this example: https://github.com/tomusdrw/rust-web3/blob/master/examples/contract.rs#L13 ?
The bytecode there is not a real one. Might be good to have a correct example there, indeed.

[2017-10-04 01:54] alanpoon commented on #70
yes

[2017-10-04 16:14] tomusdrw opened #71 "Implement Debug for Web3"

[2017-10-06 18:30] #71 closed

[2017-10-27 13:55] palango opened #75 "Cannot connect to client: Transport("SendError(\"...\")")"
With the simple example below I get an error like `Transport("SendError(\"...\")")`. It worked in the beginning but then stopped working. Any idea what could cause that?

[code]

[code]

[2017-10-27 13:57] tomusdrw commented on #75
Do you have the node running in the background?

[2017-10-27 14:00] palango commented on #75
Yes, it's `instance=Geth/v1.7.2-stable-1db4ecdc/darwin-amd64/go1.9.1` started with
[code]

[2017-10-31 10:31] tomusdrw commented on #75
Can you see the request arriving at the geth node? Can you run with some tracing?

Also could you change the code and display the details of the error:
[code]

[2017-11-09 22:27] #70 closed

[2017-11-13 12:58] palango commented on #75
With `unwrap_err` the error looks like that:
[code]

Do you know what log level I need in geth to see arriving requests? On level 4 I don't see any requests and on level 5 it's way to much output.

[2017-11-14 04:12] InsidiousMind opened #78 "Put original Solidity/other code in examples"
Trying out the deployment of a contract, and everything is going smoothly except for the format of the bytecode/solidity contracts are supposed to be in. I'm getting many 'invalid data' and JSON parse errors for a simple 'greeter' contract.

I think it would help to include original solidity code, and maybe even a quick snippet with the process of compiling the solidity code to ABI + JSON with off

[2017-11-14 09:43] tomusdrw commented on #78
Can you run with `RUST_LOG="web3=trace"` and post the requests that are being made to the node?
Alternatively run your node witth RPC logging (for Parity it is `-lrpc=trace`)

[2017-11-16 04:26] hswick commented on #78
Hi I am also having trouble deploying a contract. @tomusdrw could you be more specific on the logging? I could not find `-lrpc=trace` as an option for parity, and setting RUST_LOG="web3=trace" did not help.

I tried these options:
parity --chain dev --unlock=0x00a329c0648769a73afac7f9381e08fb43dbea72 --reseal-min-period 0 --logging=web3=trace --password password.txt

Only logging=trace gave an act

[2017-11-16 11:37] tomusdrw commented on #78
You should run parity like that:
[code]

And truebit_client like that:
[code]

[2017-11-16 11:39] tomusdrw commented on #78
Also note the contract deployment should work currently:
https://github.com/tomusdrw/rust-web3/pull/74

I will add a solidity contract used to generate that binary code in a separate PR
(and describe the process how to go from `Contract.sol` to `contract.abi` and `contract.bin`)

[2017-11-16 14:25] hswick commented on #78
@tomusdrw thanks for the quick reply!

Using the above parity config I was able to get some more valuable output

[code]

That `[Some(Num(2))]` looks awfully suspicious. Still able to receive the balance, but not the contract deployment response. Even though it looks like parity is sending back a response.

[2017-11-16 15:07] tomusdrw commented on #78
@hswick What engine are you running parity with? It seems that in the code you are waiting for block confirmations (so there need to be at least `X` blocks before we consider the transaction as mined and settled in the blockchain), but your sealing engine (`InstantSeal via --chain=dev`) doesn't really mine empty blocks.

Parity should print the engine right after start. Either change the engine to

[2017-11-16 15:41] hswick commented on #78
I believe I am running it with InstantSeal as this log message:
[code]

Changing confirmations to 0 worked! Thanks @tomusdrw. I'll have to look into PoA more.

[2017-11-16 16:37] tomusdrw commented on #78
@hswick Great!
@InsidiousMind Could you post some code here so that we can try to solve your issue?

[2017-11-16 18:20] InsidiousMind commented on #78
@tomusdrw After futzing around with Rust/JS I realized that the solidity code I was using was out of date (it didn't work with rust-web3 or js web3/testrpc), and may be why I was getting the 'invalid data/ invalid opcode(js)' error. I'm using some different code currently, and i'll report back ASAP if I get any problems with rust-web3

[2017-11-17 09:07] tomusdrw commented on #78
Ok, great! Solving as resolved then, feel free to reopen.

[2017-11-17 09:07] #78 closed

[2017-12-02 16:56] abrodersen opened #80 "Dropping EventLoopHandle after running a request causes the program to hang."
Dropping `EventLoopHandle` before dropping `Web3<T>` causes a hang if at least one request has been issued. Example code:

[code]

This became an issue when I created a struct that owned both `EventLoopHandle` and `Web3<T>`. If my struct fields were in the wrong order, the program would hang when attempting to drop my struct. If I switched the order of the fields, the program would run to completi

[2017-12-05 16:41] tomusdrw commented on #80
Good catch it's really interesting why it fails.

[2017-12-11 16:51] palango commented on #75
The issue seems to be that I used
[code]
instead of
[code]
Does every value assigned to `_ ` get dropped directly?

[2017-12-11 17:00] tomusdrw commented on #75
Indeed `_` can be dropped right away, `_anything` is dropped when it goes out of scope

[2017-12-11 17:04] palango commented on #75
Ok, thanks for the explanation.

[2017-12-11 17:04] #75 closed

[2017-12-12 19:53] regresscheck opened #81 "Not compiling on Windows, 1.24 nightly"
Hi.
I'm getting this when trying to build example:
[code]

Tried both gnu and msvc toolchains, cargo and github versions. Am I missing something?

[2017-12-12 20:03] tomusdrw commented on #81
IPC feature is enabled by default, but is not available on windows. Could you try reference the library like this:
[code]

[2017-12-12 20:07] regresscheck commented on #81
Thanks! Everything is fine now. Can you please mention it somewhere, so I would be the only one creating such issue? :)

[2017-12-12 20:11] tomusdrw commented on #81
Answers are now in this thread:) I would really appreciate a PR to the readme file mentioning windows build though.

[2017-12-18 08:47] malzzz opened #83 "Issue with IPC transport?"
I am very new to Rust, so there might be something that I'm overlooking; however, I was implementing some Parity-specific methods in a separate fork, and while benchmarking with [criterion.rs](https://github.com/japaric/criterion.rs), I noticed that method calls to `parity_pendingTransactions` stalled indefinitely over IPC.  This method works 100% of the time with the http transport, so I am assum

[2018-01-05 21:16] SeunLanLege opened #84 "How to convert U256 to stringified u64?"
hey guys, probably a noob question. but i'd like to convert the `U256` gotten from the `balance` function to a human readable number. I assume a string u64 is the only way to do this?

i tried using the `low_u64` but i'm not even sure what that does, but the number it returns is wrong.

code 👇

[code]

[code]

[code]

[2018-01-05 21:18] SeunLanLege commented on #84
@tomusdrw please help 😢

[2018-01-09 15:53] forrest-marshall opened #85 "Documentation link does not match version on crates.io"
The documentation link on crates.io points to the docs for version `0.2.0`, but version `0.1.0` is currently the latest hosted version.  The differences between the two versions are subtle enough that it isn't immediately obvious why things aren't working right if you try to use `0.1.0` based on the `0.2.0` docs.

[2018-01-10 15:06] aleksuss commented on #84
@SeunLanLege I use this func
[code]

[2018-01-10 15:11] aleksuss commented on #80
I have the same issue

[2018-01-11 08:43] aleksuss commented on #80
FYI: But if I use an event loop from tokio everything is OK

[2018-01-11 21:21] SeunLanLege commented on #84
@aleksuss it doesn't work, is there now way to do basic arithmetic with `U256` ? like add to and subtract from and convert balance from `wei` to `ether`. I would really like to use rust in my project, but a simple operation is taking to long to achieve. I've already written an implementation of my project in js, and if i can't get this lib to work, i'll just use the js implementation.

[2018-01-11 23:45] tomusdrw commented on #84
@SeunLanLege Return types are currently just wrappers on 32 bytes vectors. Integration of proper fixed-size number library is pending (see #76).
For now you need to convert returned values to https://crates.io/crates/ethereum-types or https://crates.io/crates/ethcore-bigint

[2018-01-22 17:38] Steffen93 opened #87 "eth_getFilterChanges not working because of malformed id"
Trying to capture events from a Smart Contract, I registered a Filter via `EthFilter.create_logs_filter(...)`.
The rpc responded with the filter id "0x03" which is internally transformed to a "3" as the id of the BaseFilter  struct.
So when the filter changes are queried, it tries to query filter "0x3" instead of "0x**0**3", omitting the leading zero, which results in the rpc error: "FilterSubprov

[2018-01-22 18:35] Steffen93 commented on #87
Thanks a lot for the detailed reply and the instant fix. Great library you created there, I'm really relying on it :)
Keep it up!

[2018-01-22 19:01] tomusdrw commented on #87
@Steffen93 Are you familar with ganache codebaase? Would be good to let them know that it's incorrect. I only found this instance: https://github.com/trufflesuite/ganache-core/blob/2b0b887cea8a6cb0a50fd4432685b5cbddd4f7a7/lib/subproviders/geth_api_double.js#L303
(should probably be using `to.rpcQuantityHexString` instead of `utils.addHexPrefix(utils.intToHex(`), but it seems to be a different meth

[2018-01-23 08:40] Steffen93 commented on #87
@tomusdrw I didn't know the codebase yet, but I will open an issue there and look where the right spot is.

[2018-01-24 22:28] akuanti opened #89 "Need an example of how to wait for confirmations"
I would like to be able to call a function on a contract, wait until the transaction is confirmed, and then do something with the result. I have a feeling this is relatively straight-forward, but the documentation isn't clear.

There is `wait_for_confirmations` and `send_transaction_with_confirmation`, but neither of these are part of the contract interface, and  I'm not sure what I should be pass

[2018-01-27 22:54] richardartoul opened #90 "Doesn't support TLS"
The HTTP transport does not support TLS:

[code]

leads to

[code]

[2018-01-28 03:33] #87 closed

[2018-01-31 09:12] tomusdrw opened #92 "Add rustfmt"

[2018-01-31 09:13] tomusdrw commented on #90
Right, we are using `hyper` directly. We should probably integrate https://docs.rs/hyper-tls/0.1.2/hyper_tls/ under a feature flag.

[2018-02-01 17:39] akuanti opened #94 "Builder.execute() does not accept more than 5 parameters"
Version: 0.1.0

I'm trying to deploy a contract that takes 14 parameters in its constructor, and I get the following compile error:

[code]

I get a  similar error for any more than 5 parameters. I suspect it's because the macro calls here only go up to 5: https://github.com/tomusdrw/rust-web3/blob/master/src/contract/tokens.rs#L88-L92

[2018-02-02 18:51] tomusdrw commented on #94
@akuanti Feel free to contribute back the change in https://github.com/akuanti/rust-web3/commit/b8fc371077858b11d3c9afad222285300b095c81 happy to accept a PR.

[2018-02-02 19:50] akuanti commented on #94
PR here: #95

[2018-02-07 10:57] #4 closed

[2018-02-07 10:58] tomusdrw commented on #17
Partially addressable by `ethabi_derive`. Should add examples how to use it (after `ethabi_derive` supports  async calls/transacts)

[2018-02-07 11:03] tomusdrw commented on #83
Hey @antikantian sorry to reply so late.

So it sounds like a possible issue with Parity server implementation then, x-posted the issue to https://github.com/paritytech/jsonrpc/ repo.

You can run benchmarks with `cargo run --release --example bench`. My results:
[code]

(note it only fetches latest block number, so it's fairly cheap for Parity and not much data to serialize, things might be compl

[2018-02-07 11:36] tomusdrw commented on #85
New version will be released soon(ish) :)

[2018-02-07 11:36] tomusdrw commented on #94
Fixed in #95

[2018-02-07 11:36] #94 closed

[2018-02-07 13:18] #69 closed

[2018-02-07 13:18] #84 closed

[2018-02-09 15:49] antikantian commented on #83
Hi @tomusdrw, np.  Ah, I figured as much; I'll have a look at the jsonrpc repo.

It's interesting that your benchmarks show a large discrepancy between http and ipc.  Here are my results:

<img width="318" alt="parity_rpc" src="https://user-images.githubusercontent.com/16178586/36035693-aa4d3f10-0d85-11e8-9acb-fa9cb45d0bf9.png">

[2018-02-12 08:33] tomusdrw commented on #83
I run the tests on oldish Parity version (1.7.13-stable) - it didn't have the new multi-threaded HTTP server. Updater results are closer to yours:
[code]

[2018-02-15 23:35] akuanti opened #97 "Receipt should include status field"
The current version of JSON RPC includes the following for [`eth_getTransactionReceipt`](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionreceipt)

The `Receipt` struct does not include either of these fields.

[2018-02-16 16:29] akuanti commented on #92
What does this mean? Add a `rustfmt.toml`? Add it to the build process?

[2018-02-16 18:27] tomusdrw commented on #92
@akuanti Yup:
- [ ] Add `rustfmt.toml` with settings that attempt to reflect current coding style as much as possible
- [ ] Reformat the code base
- [ ] Ensure that incorrectly formatted code does not reach `master` (so a check during build if possible)

[2018-02-21 19:04] Kmoneal opened #99 "Log.log_type should be Log.removed"
According to the JSON RPC, type: String is no longer used and logs now return with removed: bool. https://github.com/ethereum/wiki/wiki/JSON-RPC#returns-42

[2018-02-22 11:02] SeunLanLege commented on #90
would like to help out, i'm very familiar with the hyper crate

[2018-03-06 15:36] tomusdrw commented on #99
Closed via #100

[2018-03-06 15:36] #99 closed

[2018-03-08 08:39] tomusdrw opened #103 "Generic approach to confirmations"
More generic support for confirmations would be nice.

Currently we have a bunch of methods like "send_transaction_with_confirmations" instead it would be good to have a trait that can be implemented by some return types (For instance types resolving to transaction hashes) that allows you to (optionally) wait for confirmations.

[2018-03-08 21:05] hswick opened #104 "Runtime Error with decoding value from query"
I'm running into a strange runtime error with some fairly simple Solidity code:

[code]

Using these dependencies:
[code]

Solidity code for context:
[code]

Rust code:
[code]

[2018-03-09 08:28] tomusdrw commented on #104
Is the contract deployed correctly under `incentive_layer_address`? Can you run the node with RPC tracing to see what exactly is returned by the server?
You can also set up `env_logger` in your program and run with `RUST_LOG="web3=trace"` to see more details about incoming responses.

[2018-03-11 16:23] hswick commented on #104
I'm deploying the contract with truffle and then writing the address to a json file. Seems to be working correctly when using interacting with web3js. Am I doing anything incorrectly in this line?
[code]

Here is the output from the log:
[code]

I wasn't able to look at the output because it breaks on the decoding part.

[2018-03-12 14:39] tomusdrw commented on #104
Logs are not that helpful, they don't contain raw responses from the client. Could you run the client with response logging?

[2018-03-12 15:21] rphmeier commented on #103
agree. the API should be more like
`send_transaction().wait_for_confirmations(n)`.

Maybe for any type that implements a

[code]

then the machinery just keeps track of the depth of blocks where `x.confirmed(block)` is true.

[2018-03-12 16:35] hswick commented on #104
Ran parity with `--logging=rpc=trace` flag

Got this output:

[code]

The response result is definitely not correct

[2018-03-12 19:26] tomusdrw commented on #104
Perhaps the contract is not yet deployed? Can you check `eth_getCode("0x2230786463623339333431663666623836316633")`?

[2018-03-12 19:58] hswick commented on #104
Yes the code is there after checking.

I haven't had this issue before, but one thing I am doing differently is using the truffle artifacts. It is possible that the format for the abi is not the same as what is expected by this library, however this would surprise me since abi is a standard format.

Another difference is that I am not deploying the contract with rust-web3 but rather with truffle.

[2018-03-15 03:29] mjkoo commented on #92
Given #12 is there opposition to using the rustfmt defaults?

[2018-03-15 09:31] tomusdrw commented on #92
@mjkoo let's try it out!

[2018-03-15 09:59] mjkoo commented on #92
Cool, ran `cargo fmt` on master with a `rustfmt.toml` that extends the max line width (otherwise it chokes on the extremely long strings in the eth unit tests etc), also added `cargo fmt ...` to the travis config so it gets run as part of CI.

Results are at https://github.com/tomusdrw/rust-web3/compare/master...polyswarm:rustfmt , diff is rather gross as expected due to reformatting the whole cra

[2018-03-15 10:06] tomusdrw commented on #92
Cool. Please submit a PR, I will mark it as "on ice" and merge it after we have all other PRs merged.

[2018-04-04 07:33] cheme opened #109 "Contract deployment issue on a dev chain with 0 confirmation"
While testing parity bridge with nightly version (ok with 1.9.5). The deployment of contract with rust-web3 is stuck on confirmation wait. I believe it might be related with instant sealing running before and no block creation afterward. This kind of modification let me run it : https://github.com/cheme/rust-web3/commit/8af0f344ee2795167c79d58703d9955f8edc163c

I think it is a corner case (dev and

[2018-04-10 06:18] usd-yamazaki opened #113 "A zombie connection occurs with the filter.logs function."
This problem also occurs on both Windows and Ubuntu.
I am using the following crate.

- jsonrpc-core 8.0.2 (git+https://github.com/paritytech/jsonrpc)
- jsonrpc-http-server 8.0.1 (git+https://github.com/paritytech/jsonrpc)
- jsonrpc-macros 8.0.1 (git+https://github.com/paritytech/jsonrpc)
- web3 0.3.0 (registry+https://github.com/rust-lang/crates.io-index)

I am making a server program using jsonr

[2018-04-10 07:33] tomusdrw commented on #113
Interesting might be an issue with web3 client library or http server. Perhaps the payload is just too big.
Will investigate when I have a bit more time.

[2018-04-11 06:05] usd-yamazaki commented on #113
I tried searching boundary values using "limit" of FilterBuilder.

In fact it is happening at smaller values,
In "Logs: 9" it works fine
In the case of "Logs: 10", a zombie connection occurred.

Furthermore, even when limit is set to 1, if you call it several times a second,
A zombie connection occurred.

[2018-04-11 06:25] usd-yamazaki commented on #113
For "Logs: 9", the data size is 7972 bytes
For "Logs: 10" it was 8854 bytes.
Perhaps there is a boundary of 8192 bytes.

[2018-04-11 07:32] tomusdrw commented on #113
@usd-yamazaki thanks for the input, will try out to reproduce today. Perhaps we can create a mock server (say in node.js) to figure out if the issue is part of the http server or rust-web3 (I suspect the latter)

[2018-04-18 15:26] snd opened #114 "make block number U256 everywhere"
block number is `U256` everywhere (https://tomusdrw.github.io/rust-web3/web3/types/enum.BlockNumber.html?search=block_number) except for `BlockNumber::Number(u64)` (https://tomusdrw.github.io/rust-web3/web3/types/enum.BlockNumber.html) where it's a `u64`. i think it would be good to have this consistent. if this is a change that's wanted i'll open a PR.

[2018-04-18 21:27] tomusdrw commented on #114
Yeah, I think the spec say it should always be `Quantity` (not 100% sure about input parameters though), and we should probably use `U64` since it's more than enough for the block number (probably we haven't used it in the past due to lack of this type).

[2018-04-19 11:31] snd commented on #114
by `U64` you mean the `U64` in ethereum-types, right?
what's the advantage this type has over `u64`?

right, `64` bits is big enough for the block number

[2018-04-19 11:54] tomusdrw commented on #114
`U64` is JSON (de)serializable to hex and not just number.

[2018-04-20 22:11] neuhausler opened #115 "InvalidOutputType("Expected single element, got a list")"
The contract I'm querying returns a fixed array.

Result::unwrap()` on an `Err` value: Error(InvalidOutputType("Expected single element, got a list: [Bool(true), Uint(0x5ada606a), Uint(0x0)]")

I assume that is supported via the FixedArray macro? What signature, type definition has to be used for the query call to trigger/handle this?

[2018-04-20 22:13] #115 closed

[2018-04-20 22:25] neuhausler commented on #115
figured it out .. would be nice to have more examples
let result: (bool, u64, u64) = contract.query ...

[2018-04-24 18:35] emkman opened #116 "Signing Transactions Offline"
Support for signing transactions offline for sending to a locked node or potentially Infura would be extremely helpful. Similar functionality can be found in the `ethereumjs-tx` for javascript. Much of this functionality exists across the parity codebase and needs to be pieced together. In discussing this with @tomusdrw, the general steps required would be:

1.  Encode contract call (this can be d

[2018-04-27 01:59] thomaseizinger commented on #92
I guess this should now be closed?

[2018-04-27 07:39] tomusdrw commented on #92
Yup, thanks!

[2018-04-27 07:39] #92 closed

[2018-05-01 16:56] mjkoo opened #117 "Log subscription topic filters not working"
`eth_subscribe` takes parameters which appear similar to a `web3::types::Filter`, but aren't, their format is described at https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB#logs . Passing filters in the same format as `eth_getLogs` et. al. results in no events being delivered.

[2018-05-12 09:37] afck opened #119 "Topic filter conversion."
Would it make sense to add this conversion?

[code]

Or possibly rather a `FilterBuilder` method?

[code]

At least [poa-bridge](https://github.com/poanetwork/poa-bridge/blob/cdb79b9ba72bc7094ab7e03b133d4e03a1b5d48a/bridge/src/util.rs#L14) and [poa-ballot-stats](https://github.com/poanetwork/poa-ballot-stats/blob/d77c1edcd04d480b59b1bc72b47ec9275b7b49a3/src/util.rs#L62) currently manually implemen

[2018-05-12 10:37] afck opened #120 "Make ethabi-contract-derived functions more ergonomic to call."
Functions generated with `use_contract!` (ethabi-contract/ethabi-derive) have a `call` method that takes a `&Fn(Bytes) -> Result<Bytes, String>`. It will pass the encoded function call into that callback, and decode its output.
I'm clumsily using this to make extra-transaction calls: [poa-ballot-stats:src/util.rs#L24](https://github.com/poanetwork/poa-ballot-stats/blob/730ebfff2e238809fd941bea2bf8

[2018-05-14 15:29] akosenkov opened #121 "error calling existing contract"
Great project! (really missing on some complex examples that work with strings and dictionaries though)

I'm trying to get this simple example to work but it works only when deploying contract straight away or when I exclude the dictionary from the smart contract :(

[code]

solc, the solidity compiler commandline interface
Version: 0.4.23+commit.124ca40d.Darwin.appleclang

[code]

SimpleStorage.s

[2018-05-14 15:38] akosenkov commented on #121
Ok, I get it, I had to remove '0x' from the address for some reason.
Yet I haven't seen an error until it gets into contract.query :(

Why is it a requirement to always remove 0x from the string?

[2018-05-14 15:40] akosenkov commented on #121
And amazingly it worked despite that until I started to use dictionary within the smart contract :)

[2018-05-14 15:41] akosenkov commented on #121
Sorry for the formatting though T_T

[2018-05-18 21:46] tomusdrw opened #123 "Accept T: Borrow<Foo> as arguments"
See https://github.com/tomusdrw/rust-web3/pull/122

[2018-05-21 10:06] tomusdrw commented on #121
Sorry for a late response, can you elaborate what address you mean?

`Contract::from_json` will return error only if the ABI is invalid, we don't try to "connect" to the contract yet, only when you query the contract we use it's addresss and parameters and then check if it succeeded or not.

A log output of running parity node with `-lrpc=trace` will also help debug a bit. If you include `env_logg

[2018-05-21 10:15] tomusdrw commented on #120
Hi @afck! sorry for a late answer, that's definitely an awesome idea, we are working on a solution internally in Parity as well to figure that out.
Static contract interface is also mentioned here: https://github.com/tomusdrw/rust-web3/issues/17, I'd love to integrate `ethabi-derive` directly to this project to make it super-easy and convenient to use.

Have a look at this PR as well:
https://gith

[2018-05-22 08:18] afck commented on #81
This way, every dependent crate has to do a lot of conditional compilation and have a complicated `Cargo.toml` if it wants to offer IPC support on Unix but also run on Windows. Wouldn't it make more sense if `web3` itself compiled on Windows, but `Ipc::new` just always failed with an error message explaining that this is Unix-only? That would just involve a little bit more conditional compilation

[2018-05-22 08:31] tomusdrw commented on #81
@afck both solutions make sense to me, feel free to submit a PR

[2018-05-22 10:07] tomusdrw commented on #119
makes sense, we should try to integrate `ethabi` more tightly

[2018-05-22 10:29] tomusdrw opened #125 "Figure out what's wrong with rustfmt during builds"

[2018-05-29 09:02] afck commented on #125
Is this related to the 0.7.0 update? It's probably best to fix a particular Rust nightly version; since rustfmt is managed by rustup as part of a toolchain now, that will pin the rustfmt version, too.
See https://github.com/tomusdrw/rust-web3/pull/124#issuecomment-390977481

[2018-05-29 12:39] NikVolf opened #128 "Get json request (text) for the query, but don't post it"
is it possible?

[2018-05-29 14:12] tomusdrw commented on #128
Only with custom transport I think. You can possible use jsonrpc-core and ethabi directly. We might expose something like this though, PRs welcome.

[2018-05-30 10:06] tomusdrw commented on #125
@afck I see, makes sense to me. I will try to fix to some working nightly version in #127

[2018-06-04 09:05] afck commented on #119
I'm happy to open a PR; I'd just need to know how to handle [rustfmt and CI](https://github.com/tomusdrw/rust-web3/issues/125) (whether to use stable or a particular nightly, etc.).

[2018-06-09 02:31] josiah14 opened #130 "Add a License?"

[2018-06-14 21:07] fredfortier opened #131 "Unable to parse an str slice into Address"
I'm running this example: `/Users/fredfortier/Code/sandbox/rust-web3/examples/contract.rs`

I'm getting an error here:
[code]

Here the error:
[code]

[2018-06-14 21:36] tomusdrw commented on #131
@fredfortier please remove `0x` from the string, parsing has changed in one of the libraries we depend on, but the examples were not updated (PRs welcome!)

[2018-06-14 22:20] fredfortier commented on #131
@tomusdrw It worked. Yes, I'm happy to push a PR for this. I'll go through the examples and update them.

[2018-06-16 02:14] fredfortier opened #133 "State modifying method call example"
The examples in this project have been invaluable to me. But they don't show me how to call payable, or any state modifying, methods of a contract. I know how to call a view method with `query` but it uses `Option::default()` in the `options` argument. I don't know how this translates to `call` which require specific options (gas, value, etc). I see the Options Struct in the doc but its usage is n

[2018-06-16 04:55] fredfortier commented on #133
I'll figured it out. I'll push an example shortly.

[2018-06-16 04:55] #133 closed

[2018-06-18 12:48] sorccu commented on #130
According to [Cargo.toml](https://github.com/tomusdrw/rust-web3/blob/d6cafecc18cbe192e433cf6f43e1850566c83fcb/Cargo.toml#L8) it's MIT licensed.

[2018-06-29 14:52] adklempner opened #134 "Add a public export for web3::helpers::TestTranport"
I'd like to use the mocked `TestTransport` struct for testing a crate that depends on `rust-web3`.

Is there already a way of doing this? If not, what would be the best way to export it? Would be happy to open a PR for this.

[2018-07-02 12:16] tomusdrw commented on #134
Sounds good to me, should probably be feature-gated like other transports.

[2018-07-04 08:50] Jannis opened #135 "Block serialization with Serde fails if sealFields is missing"
`sealFields` appears to not be supported by all Ethereum implementations. One such example is Ganache. The problem is that the way Serde is set up for the `Block` type makes requests to those implementations panic.

My recommended solution is to serialize `sealFields` to an empty vector if it is not included in the response to e.g. `eth_getBlockByHash`. I'll provide a pull request shortly.

[2018-07-04 09:14] #135 closed

[2018-07-04 10:47] Jannis opened #137 "Shared mutability is broken in TestTransport"
This doesn't surface in the current set of tests. However, if we decide to make `TestTransport` public (see #134), it soon will.

## Problem description

The problem surfaces when adding multiple responses to `TestTransport` and then making consecutive `Web3` calls against the test transport. In this case, first response ends up being returned to all requests, not just the first.

## Cause

The pr

[2018-07-04 10:56] Jannis opened #139 "Derive Serialize trait for more types (e.g. Block, BlockHeader)"
Making more types serializable would make it easier to use these types to e.g. create mock data and JSON-RPC responses when testing other libraries written for Ethereum.

[2018-07-04 11:37] #139 closed

[2018-07-04 11:38] #137 closed

[2018-07-10 16:27] adklempner opened #142 "Question: EthFilter behavior on block-reorg"
I was hoping to get some clarification on how filters created through `EthFilter.create_logs_filter` behave in the case of a block reorg.

When a reorg happens, will the filter reproduce any affected `Logs` with updated [`removed`](https://tomusdrw.github.io/rust-web3/web3/types/struct.Log.html#structfield.removed) and `log_type` values? This is the behavior documented in the source code for geth'

[2018-07-10 17:17] adklempner commented on #142
Additionally, is there a way to test this behavior? Either with Parity or using a `TestTransport`?

[2018-07-11 11:03] tomusdrw commented on #142
The behaviour is indeed client-dependent. Parity does not inform about removed/retracted logs, you might get a notification for the same log twice in case it got included in a chain that re-orged later on.

The Pub/Sub logs filter however does return `removed` logs in both Geth and Parity.

[2018-07-18 12:42] elichai opened #143 "The documentation doesn't match latest version"
Hi, the docs here: https://tomusdrw.github.io/rust-web3/web3/index.html are for master. and there's stuff exist there that doesn't exist in the latest `0.3.0` version.
I would like to know if you're planning to release a new version that will match the docs (I want to use the `web3.eth.logs` function)

[2018-07-18 12:53] Isan-Rivkin commented on #143
Same problem

[2018-07-18 13:00] yangby-cryptape commented on #80
After test, I think it is hang at [`EventLoopHandle::Drop`](https://github.com/tomusdrw/rust-web3/blob/626620b/src/transports/shared.rs#L75).

[2018-07-19 09:22] tomusdrw commented on #143
New version released: https://github.com/tomusdrw/rust-web3/releases/tag/v0.3.1
Remember that you can always reference the github version in your `Cargo.toml` (you just won't be able to release your library to crates.io)

[2018-07-19 09:22] #143 closed

[2018-07-20 07:50] yangby-cryptape commented on #80
Finally, I have known what happened.

It hangs at [`event_loop.turn(None);`](https://github.com/tomusdrw/rust-web3/blob/626620b/src/transports/shared.rs#L47), **before checking** the [`done`](https://github.com/tomusdrw/rust-web3/blob/626620b/src/transports/shared.rs#L46) flag.

When we want to shutdown the `event_loop`, we stop send any new message, and set the done flag.
But the `event_loop` wil

[2018-07-20 08:52] tomusdrw commented on #80
Perhaps we could supply a timeout to turn?

[2018-07-20 08:55] synlestidae commented on #80
@yangby-cryptape is correct I think. I added `self.remote.spawn(|_| Ok(()))` before the thread join. It seems to fix it on my end.

#144

[2018-08-03 16:00] leodasvacas opened #145 "Migrate from error-chain to failure"
`error-chain` is likely to be deprecated, the crate `failure` is a good replacement.

[2018-08-06 04:28] insipx opened #146 "Migrate from tokio_core"
any plans to migrate to `tokio` from `tokio_core` in the near-future? I haven't looked through the entire codebase yet, but it seems as if it may be a sizeable undertaking

[2018-08-12 15:32] InsidiousMind commented on #38
Since `CallResult` is a future, I'd advocate for renaming to simply `CallFuture` or `RPCFuture` or something along those lines. I think currently at first glance `CallResult` implies synchronous code that returns a wrapped `Result` type

I wouldn't mind refactoring the code if a name is decided upon

[2018-08-14 07:52] debris commented on #38
I like `CallFuture`. What do you think @tomusdrw ?

[2018-08-14 07:57] tomusdrw commented on #38
Sounds good!

[2018-08-15 09:39] debris commented on #146
I'd say that there are no plans to do it yet, as `tokio` seems to be very unstable.

[2018-08-16 17:50] DR-BoneZ opened #147 "How to get past events for a contract?"
web3js has web3.eth.Contract.getPastEvents. is there an equivalent here?

[2018-08-16 21:48] DR-BoneZ commented on #147
figured it out. Had to decode the logs using the ethabi crate.

[2018-08-16 21:48] #147 closed

[2018-08-23 04:09] synlestidae commented on #116
Been interested in having this functionality since I came across the web3 crate.

I propose we implement `web3::api::Eth::sign_transaction`:

`
pub fn sign_transaction(&self, transaction: &Transaction, private_key: H256) -> CallResult<Bytes, T::Out> {
   // ...
}
`

As Transaction has redundant fields like `from` (derived from private key) and `hash` (computed from transaction), we could use a new

[2018-08-23 04:13] synlestidae commented on #116
The output of `sign_transaction` would be the RLP-encoded transaction that can be fed into `send_raw_transaction`.

[2018-08-23 19:10] DR-BoneZ opened #151 "Timeouts for websocket transport"
Currently having issues where web3 cannot detect if geth goes down while connected via websocket, and requests will just hang.

[2018-08-29 00:17] InsidiousMind opened #153 "version 0.3.1 doesn't compile"
I wasn't having this issue until i did a cargo-update on a crate that uses rust-web3. However, I've tested this in a vagrant VM with Ubuntu 16.04 and am not able to compile web3. I am not entirely sure why the  Travis builds have passed if it fails on my machine/vagrant VM. I think the issue is just some outdated/multiple dependencies with ethereum_types/ethabi/error-chain so i submitted a pull re

[2018-08-30 03:45] TinyCalf commented on #153
it seems a higher version of ethabi leads to this problem. ethabi version 5.1.2 uses error-chain version 0.12. I change dependencies to below and compiles web3 correctly:
[code]

[2018-08-30 04:01] InsidiousMind commented on #153
@TinyCalf Yep, it's fixed in #154 :)

[2018-08-30 09:53] #153 closed

[2018-09-05 08:26] #38 closed

[2018-09-13 04:38] D4nte commented on #153
@tomusdrw Hi! Could this be published on crates.io please? Thanks for the fix.

[2018-09-17 15:48] afck opened #157 "HTTP-only build fails."
Building with `--no-default-features --features="http"` fails, but `--no-default-features --features="http ws"` succeeds.

[code]

[2018-09-24 10:08] #119 closed

[2018-09-24 10:08] #157 closed

[2018-09-27 21:49] WyseNynja commented on #151
I'm also looking for how to add timeouts to websockets. I was testing with my parity node being offline and it just waits forever.

[2018-10-04 19:17] WyseNynja commented on #145
https://github.com/rust-lang-nursery/failure/issues/181

[2018-10-05 17:36] CPerezz opened #160 "Errvalue: Error(Api(Io(Kind(BrokenPipe))) error while calling a contract function."
Hi.
I'm trying to do a contract interface with web3.rs in order to let an API call functions, query the contract etc...

The thing is that I had never seen that error, and it's been days working to solve it without success. The debug is:
`thread 'main' panicked at 'calledResult::unwrap()on anErrvalue: Error(Api(Io(Kind(BrokenPipe))), State { next_error: None, backtrace: InternalBacktrace { backtra

[2018-10-09 09:43] niklasad1 opened #162 "openssl 1.1.1 - can't build `openssl v0.9.24`"
See https://github.com/sfackler/rust-openssl/issues/994 for details

All crates that are using `openssl v.0.9.24` need be bumped/patched such as:
* `jsonrpc-core`
* `hyper`
* `hyper-tls`
* `native-tls`
* `websocket`

[2018-10-12 18:28] niklasad1 opened #163 "Serialization of H256 fails"
[code]

#### Error
[code]

[2018-10-13 12:00] debris opened #165 "send_transaction_with_confirmation is broken"

[2018-10-20 21:46] InsidiousMind opened #166 "Fails to build with OpenSSL 1.1.1"
On systems with OpenSSL updated to 1.1.1 web3 will fail to build because some dependencies are still using openssl 0.9.24

All dependencies using `0.9.24` have a newer version which uses the newer openssl, except for the `websocket` crate, which should be updated in 12 days https://github.com/websockets-rs/rust-websocket/pull/186

I think it would be OK to just wait for `websocket` crate to do a r

[2018-10-26 21:12] InsidiousMind commented on #166
#162

[2018-10-26 21:12] #166 closed

[2018-10-28 19:57] eduardonunesp opened #167 "Question: How to handle connection error"
How to properly handle connection error, in the following example I want to inform user about an error without show a "developer" string error

What I'm doing:

[code]

Corrently what happens is the error on terminal:

[code]

I'd like to show

[code]

[2018-10-28 22:12] tomusdrw commented on #167
@eduardonunesp HTTP transport doesn't require connection to be established. First request that you are making will just fail if the server is not available. I suspect that the error is returned by first call that you are making not in the snippet that you've shown.

[2018-10-28 22:13] eduardonunesp commented on #167
That's `true` @tomusdrw, how stupid I was lol, that makes sense :)

[2018-10-28 22:13] #167 closed

[2018-11-06 01:57] WyseNynja opened #169 "EIP712"
I'm wanting to hash [0x orders](https://github.com/0xProject/0x-protocol-specification/blob/master/v2/v2-specification.md#hashing-an-order) and they use [EIP712](https://github.com/ethereum/EIPs/pull/712/files).  I'm trying to write this in rust and not javascript. Is this currently possible with rust-web3?

[2018-11-09 11:45] tomusdrw commented on #169
@WyseNynja We don't have that method exposed yet (PRs welcome!). You can freely extend rust-web3 though, you will just need to define all the input and output types and their deserialization.

[2018-11-11 19:12] #162 closed

[2018-11-13 23:29] fubuloubu opened #171 "EthPM endpoint"
Create an ethPM endpoint (https://github.com/ethpm/) that can load a package manifest locally (on disk) or from a given location (IPFS, Swarm), be apply to obtain compiled contracts/ABIs for deployment/interaction, and just generally make it easier to work with a local project.

Might look something like:
[code]

[2018-11-20 18:37] AvishaiW opened #172 "Querying a contract with a int256 input requires using ethabi::Token::Int variable"
Hi,
If I have a contract with a function like:
[code]

I Can't call it using:
`let result: QueryResult<U256, _> = contract.query("add", (5,7,),None, Options::default(), None);`
Or even:
`let result: QueryResult<U256, _> = contract.query("add", (U256::From(5),U256::From(7),),None, Options::default(), None);`

I must do:
`let result: QueryResult<U256, _> = contract.query("add", (Token::Int(5.into())

[2018-12-04 15:39] tritone11 opened #175 "invalid sender on web3.eth().send_raw_transaction"
Hello, this is my transaction
[code]
in hex
[code]
The sender is 0x95acdef260878333ea9734daf2c6036c1ee846af and he's trying to send 1 ether to itself, but the node responds  "invalid sender"

[2018-12-06 14:31] tritone11 opened #176 "Error(Abi(InvalidData) on query"
I keep getting
[code]
I checked with eth_getCode if the contract exists, but still I cannot manage to query it
This is my call
[code]

[2018-12-06 21:40] drewstone commented on #163
I am also getting errors similar when I try to deploy a contract based on the example:
[code]

[2018-12-11 07:08] harishbm34 opened #177 "warning: use of deprecated item 'ethereum_types::H256::from_slice': unconventional API, replaced by `new_from_slice` in version 0.3"
How to resolve this warning ?

**I have been using the latest version of the "web3 = "0.5.1" in Cargo.toml.**

If I use, "git" path for web3 in the Cargo.toml (web3 = { git = "https://github.com/tomusdrw/rust-web3" }), getting the errors like below:

 --> /Users/harisha/.cargo/git/checkouts/rust-web3-ebc1a09fd5a9a2a2/8a2cfff/src/types/traces.rs:4:20
  |
4 | use serde_derive::{Deserialize, Serializ

[2018-12-11 09:30] tomusdrw commented on #177
@harishbm34 please update your Rust compiler, to fix `serde_derive` imports.
Regarding the warning, can you please post your `Cargo.lock` file? I'm not sure how you can get this warning, cause `from_slice` is not realy present in the codebase afaict.

[2018-12-11 09:32] tomusdrw commented on #163
@niklasad1 what version did you use? I think `null`s in receipts has been fixed in #164

@drewstone what RPC backend do you use (geth, parity, infura)? What RPC are you calling? It seems that the response contains a raw integer `1`, while the library expects a hex-encoded value.

[2018-12-11 09:33] tomusdrw commented on #14
Resolved via #101

[2018-12-11 09:33] #14 closed

[2018-12-11 09:34] tomusdrw commented on #37
Resolved via #105

[2018-12-11 09:34] #37 closed

[2018-12-11 09:34] tomusdrw commented on #80
Resolved via #144

[2018-12-11 09:34] #80 closed

[2018-12-11 09:35] tomusdrw commented on #81
Fixed in #124

[2018-12-11 09:35] #81 closed

[2018-12-11 09:36] tomusdrw commented on #83
Seems that the issue is resolved here, please reopen if there is anything more to address.

[2018-12-11 09:36] #83 closed

[2018-12-11 09:37] tomusdrw commented on #89
See #102 and #103 thread

[2018-12-11 09:37] #89 closed

[2018-12-11 09:38] tomusdrw commented on #90
Resolved via #106

[2018-12-11 09:38] #90 closed

[2018-12-11 09:38] tomusdrw commented on #97
Resolved via #98

[2018-12-11 09:38] #97 closed

[2018-12-11 09:39] tomusdrw commented on #104
There has been many changes in recent versions of `ethereum-types` that might affect Ser/De of the structs. Please reopen if the issue persists.

[2018-12-11 09:39] #104 closed

[2018-12-11 09:40] tomusdrw commented on #109
Resolved via #110

[2018-12-11 09:40] #109 closed

[2018-12-11 09:44] tomusdrw commented on #117
Fixed via #118

[2018-12-11 09:44] #117 closed

[2018-12-11 09:45] tomusdrw commented on #121
Seems it's resolved. Please reopen otherwise.

[2018-12-11 09:45] #121 closed

[2018-12-11 09:48] tomusdrw commented on #142
Seems resolved.

[2018-12-11 09:48] #142 closed

[2018-12-11 09:49] tomusdrw commented on #151
Should probably a wrapper transport that uses `future::select` to resolve either to an error (timeout) or to actual future.

[2018-12-11 09:52] tomusdrw commented on #172
Perhaps an incorrect handling of conversions in `ethabi`.

[2018-12-11 09:53] tomusdrw commented on #176
Can you provide RPC logs from the backend or from web3? Would be awesome to see what actual RPC requests are made to the server.

[2018-12-11 10:05] harishbm34 commented on #177
Yes, after updating the Rust compiler I am not getting any error but still I can see the warnings.

Request you to please help me to fix this.

Please find the attachment for the Cargo.lock file :
[Cargo_lock.txt](https://github.com/tomusdrw/rust-web3/files/2666997/Cargo_lock.txt)

[2018-12-11 10:10] tomusdrw commented on #177
Seems that `sputnikvm-precompiled-interchaintrx` crate is using `ethereum-types` as well, are you sure there are no occurences of `::from_slice` there?

That said: the warnings are currently not fixable (see https://github.com/paritytech/parity-common/issues/90). You need to bump `fixed-hash` to `0.3`, but it requires bumping all crates depending on `fixed-hash`. The main one would be `ethereum-ty

[2018-12-11 10:33] harishbm34 commented on #177
Your guess is right, I am using ::from_slice inside  the "sputnikvm-precompiled-interchaintrx" crate.

We need to wait for ethereum-types release, and then I can update web3 --> thanks a lot for your help. I was wondering about the warnings. Now realised, that's not the issue with  "rust-web3". Let's wait for ethereum-types crate release. You can proceed to close this issue.

[2018-12-11 10:35] tomusdrw commented on #177
@harishbm34 ok, cool. Will try to release new web3 as soon as ethereum-types is up on crates.io. Cheers!

[2018-12-11 10:35] #177 closed

[2018-12-11 13:00] drewstone commented on #163
I’m using test rpc as a backend (I guess more formally known as ganache?)

On Tue, Dec 11, 2018 at 11:32 AM Tomasz Drwięga <notifications@github.com>
wrote:

[2018-12-11 13:02] tomusdrw commented on #163
I see, I remember some issues with the return types, but I hoped they were all fixed. What RPC method are you calling?

[2018-12-11 13:53] drewstone commented on #163
So I’m trying to create a contract which I believe works from looking at
the logs of testrpc, however the program crashed or stalled and didn’t
return the contract object.

Unfortunately, my computer also just broke so I am in a bit of a tough spot
remembering exactly.

On Tue, Dec 11, 2018 at 3:02 PM Tomasz Drwięga <notifications@github.com>
wrote:

[2018-12-12 10:19] CPerezz commented on #160
The problem was that if the http thread isn't passed to the deploy function, the connection drops and it's impossible to connect via jsonRPC.

Solved and Closed.

[2018-12-12 10:19] #160 closed

[2018-12-12 10:31] jordipainan commented on #176
use H256 types ! We solved by this way the same error

[2018-12-12 10:31] CPerezz commented on #176
Just use H256 Struct to transfer the Bytes dataType:
https://docs.rs/ethereum-types/0.4.0/ethereum_types/struct.H256.html

[2018-12-12 14:33] CPerezz commented on #163
Seems by reviewing the error that you are trying to store an Address on an Integer variable. That's why **unwrap** it's failing.
Just like on the examples of the repo, try to do something like:
[code]

Due to the recent changes on the ethereum_types, maybe you can do something like:

[code]

Can you provice RPC traces?

[2018-12-14 09:35] tritone11 commented on #176
Many thanks!

[2018-12-14 09:35] #176 closed

[2018-12-14 09:40] tritone11 opened #178 "rlp: non-canonical integer"
Hello,
I am sending a large amount of transactions one after another, and sometimes I get this error
[code]
It is random and it happens once each ~20 transactions, I know looking around it could be a problem with how the gas price, limit and value are represented, currently I am defining them this way:

[code]

[2018-12-14 10:04] tritone11 commented on #178
The problem was when I was signing the raw transaction on another library, and they were represented like this
[code]
instead of

[code]

[2018-12-14 10:22] tritone11 commented on #178
[code]

[2018-12-14 12:21] CPerezz commented on #172
As I've experienced, U256 isn't compatible with Solidity `Int` variable type. The Se/Deserialization does not work/it's not implemented. I've not had time to review it.
I don't know if there's any workarround to work with `Int`.

ethereum_types crate on it's new release 0.4.0. maybe has something to solve it. I've not seen anything about it.. but I've not reiwed it.

So maybe @debris can bring som

[2018-12-14 15:40] tritone11 commented on #178
When signing a raw trasnaction, if the R or the S arguments of the signed transactions were vectors with a starting 0.

[2018-12-14 15:40] #178 closed

[2019-01-03 06:31] fredfortier opened #180 "mixHash and nonce in the BlockHeader struct"
Hi - What's the reason for omitting `mixHash` and `nonce` in the BlockHeader struct?

[2019-01-03 07:58] tomusdrw commented on #180
@fredfortier No reason at all, just forgotten. I was basing the fields on the Parity Ethereum implementation, and `mixHash` and `nonce` are added in a different way than other fields so I didn't notice them.
PRs welcome

[2019-01-03 19:41] fredfortier commented on #180
Ok good to know! I’ll create a PR today.
On Wed, Jan 2, 2019 at 11:58 PM Tomasz Drwięga <notifications@github.com>
wrote:

[2019-01-03 20:43] fredfortier commented on #180
@tomusdrw Here is some background on the issue from Parity: https://github.com/paritytech/parity-ethereum/issues/8841.

Unless you suggest otherwise, I'll submit a PR that adds these fields to the `Block` and `BlockHeader` struct as `Option<T>`. Some chains (POA chains) do not return them. Geth used a similar approach: https://github.com/ethereum/go-ethereum/pull/18166/commits

Web3.js does not ca

[2019-01-06 19:19] folex commented on #13
I want to try myself on implementing `personal_sendTransaction`. It's not in the RPC spec though. Will you accept such PR?

[2019-01-06 19:32] folex commented on #13
Hi! I want to try implement `personal_signTransaction`, but it's not in the RPC spec. Will you accept such PR?

[2019-01-07 07:31] tomusdrw commented on #13
@folex yes, should be fine.

[2019-01-08 11:43] debris commented on #172
so, there is no conversion between `U256` and `Int` because... we never needed it. I'm happy to add it, but tbh I'm not sure how out of range values should be handled. Any suggestions?

[2019-01-08 13:40] elichai commented on #172
@debris I think it should be handled the same way it's handled by the evm.
In the end everything in the evm is u256, so what how is `-150` represented? (I'll guess it's some sort of overflowing...)

[2019-01-08 18:25] jedahan opened #182 "how to run examples with ganache?"
I am trying to run the contract example against ganache, and no matter how high the gas limit is set, I get an error deploying the contract with "base fee exceeds gas limit".  I would love it if the readme could include documentation on how to test the examples.

[2019-01-08 18:55] tomusdrw commented on #182
@jedahan can you provide logs from ganache and `rust-web3`?
You need to intialize `env_logger` in your application and then run with `RUST_LOG=web3=trace`

[2019-01-08 19:35] tomusdrw commented on #182
To be frank I don't remember where that code comes from - perhaps the contract is just invalid? Do you mind compiling some of the examples of solidity code in the repo and deploying that?

[2019-01-08 21:58] jedahan commented on #182
So the simple_storage example works, but I'm not sure what source .sol corresponds to the code in that folder

[2019-01-08 22:06] jedahan opened #184 "Adding combined from_json support?"
So I tried doing `Contract::from_json` against **@0x/contract-artifacts/artifacts/ZRXToken.json**, but ran into an error where there was an unexpected map.

Turns out, `Contract::from_json` wanted just the `.compiledOutput.abi` portion of that file (as an array).

I am wondering if it would be more user friendly if we either had from_json detect and support `.compiledOutput.abi`, and possibly rena

[2019-01-09 09:50] CPerezz commented on #172
As @elichai  says it can be solved by implementing the [2's Complement](https://en.wikipedia.org/wiki/Two%27s_complement) as evm does. The solution can be then loose a bit to gain the symbol property.

I think it's important to point out that with non huge numbers like `X < 10^77` aprox. it should handle the signs, otherwise, I think we can experience unexpected behaviors.

I've used quite a bit t

[2019-01-11 08:05] tomusdrw commented on #184
Sounds good.
[code]

Solidity-generated json also contains the entire bytecode, that is not strictly necessary for interacting with the contract.
`.deploy()` method could change as well, cause we need to provide the bytecode there, while we could read it from the sol.json file.

PRs welcome.

[2019-01-23 16:51] fredfortier opened #186 "Linked Libraries in Bytecode"
I read every contract deployment example in this library. They all assume that the bytecode is a hex string that can be parsed into a byte array like this: `Contract::deploy(web3.eth(), include_bytes!("./build/SimpleEvent.abi"))`.

I'm pre-compiling my contracts with Truffle 5 and reading the bytecode form the `bytecode` attribute of the `build/contracts/MyContract.json` files. I'm observing two i

[2019-01-23 17:03] tomusdrw commented on #186
I think the best way would be to introduce some pre-processors or contract-wrapper types, I'm happy to have them in the `rust-web3` repo. See also #184.

So the idea I have in mind:
[code]
and for the case in #184
[code]
and for current case
[code]

[2019-01-23 18:00] fredfortier commented on #186
What would this method do with the bytecode after the library placeholders in the bytecode? I'm confused by this, according to line 358 here: https://github.com/trufflesuite/truffle-contract/blob/ae32dbb2ace5919f69ae81aaac34a3c9b25f2681/contract.js, these placeholders represent unlinked library which should not be allowed in the bytecode during deployment. Should the business logic simply verify t

[2019-01-23 19:22] tomusdrw commented on #186
Exactly, it would do all the necessary pre-processing to create an instance of contract. I'm proposing a new API here so some refactoring would be required to actually avoid much repetition, but since we already have 3 different use cases of reading ABI/bytecode data from files it might be worth it.

For anyone interested in implementing this - I'm also ok with a partial solution of just processin

[2019-01-23 19:32] fredfortier commented on #186
Ok thanks! For now, I'll just submit a PR with a static method that implements this particular pre-processor (partial solution suggested). Later, either I or another volunteer can refactor the deploy builder carefully as you suggested.

[2019-01-29 11:44] #130 closed

[2019-02-05 21:58] ishanjain28 opened #193 "[Question] how to spawn limited number of batch requests?"
Hi there,

My code is here,

[code]

Currently, This code spawns 7 million tasks in event_loop which takes up quite a bit of memory.

I want to limit the max tasks that can be spawned in event_loop

I have tried several things including but not limited to,

1. waiting on `BatchFuture`, pauses event_loop, So not useful.
2. Using a waitgroup which pauses execution upon encountering  a max_limit. Not

[2019-02-06 20:29] ishanjain28 commented on #193
Nevermind. I only had to use an atomic usize counter and thread::sleep. Sorry for bothering you.

[2019-02-06 20:29] #193 closed

[2019-02-07 09:19] tomusdrw commented on #193
You can also have a look at the utilities that `futures` crate provide. For instance you can create a batch of futures, create a stream out of them (`futures_unordered`) and then use `for_each` to convert a `Stream` to a `Future` and spawn that to the event loop. I'd also suggest spawning a second thread to maintain the dispatched tasks and leave one thread only for the event loop.

[2019-02-12 16:53] CPerezz opened #195 "Tx receipt empty after deploying successfully with Aura consensus algorithm."
I've experienced some weird behaviors with web3.rs crate while trying to deploy contracts or make calls to them when I switched from an InstantSeal engine chain like the DevelopementChain has to an Aura engine where I'm now making all of my calls.
The calls to the Parity node are made through a Rust API using Rocket and web3.rs.

The **problem appears exactly after the he deploy is executed** and

[2019-02-12 17:07] CPerezz commented on #195
Ok, I've switched the `.confirmations()` method from 0 to 1 as this seemed to be the Error received in Rust.

After that, I got the Contract Address bit with strange traces on the RPC Client:
[code]

[2019-02-13 09:23] tomusdrw commented on #195
Thanks for the report, I believe we incorrectly handle the case when `confirmations` is set to `0`
The latter double `getTransactionReceipt` is probably fine, I think we check it initially to get the idea in which block the transaction was imported (`0x28b9`), then wait one block (`0x28ba`) and confirm that the receipt is still present and the block difference is indeed `1`.

[2019-02-13 11:18] CPerezz commented on #195
@tomusdrw Thanks for the response. A few things to mention after testing some scenarios with @jordipainan :
- In Aura with `force_sealing = false` on mining section of `authority.toml` and `confirmations` setted to `0` web3 panics.
- In Aura with `force_sealing = false` on mining section of `authority.toml` and `confirmations` setted to `1`, web3 waits until `x` hops happen to accept the block as

[2019-02-15 11:12] tomusdrw commented on #195
I think it would be best for `rust-web3` to not have to detect specific clients and most definitely specific consensus engines.

The lib should just not panic in any of the scenarios and work as expected in all of them. I think it's clearly a bug in the confirmations logic.

The `force-sealing` dependcy seems interesting, I think validator nodes in AuRa has to be run with `--force-sealing`, cause

[2019-02-15 13:20] jordipainan commented on #195
Agree on `rust-web3` should be client and consensus engine agnostic.
Aura can be run with `--force-sealing` which ensures that blocks are produced even if there are no transactions. This is necessary for blocks to reach finality in a timely fashion.
In the dev network we used, we have a 5'' step but only one active validator. So when the tx is executed the block is not final and next final block w

[2019-02-16 09:44] CPerezz commented on #195
Also agree on that @tomusdrw . But the thing is that with errors like this one, is kinda hard to handle all of the cases.
Anyways, `force-sealing` flag only gives us finalty and "confirmations" let's say, but it's not a "must" option. It's true that enables the `eth_getFilterChanges` to at some point get the receipt, but no panics like this should be seen.
So how do you think this has to be handle

[2019-03-05 22:14] olibearo opened #200 "Decoder error running eth.trace().replay_transaction(...)"
I’m running into a deserialization error when calling `eth.trace().replay_transaction(…)`.

__Code__:

[code]

__rust-web3 Version__:

Executed with: 0.5.1 & 0.5.2 (master branch at the time)

__Parity Node Version__:

Executed with: 2.4.0-beta & 2.3.5 & 2.2.11

Set with `tracing = on` and `pruning = archive`. The node is fully synced.

__rust-web3 error__:

[code]

__Relevant parity-ethereum logs

[2019-03-06 09:03] tomusdrw commented on #200
@olibearo seems like an issue in the traces struct:
https://github.com/tomusdrw/rust-web3/blob/master/src/types/traces.rs#L75

`trace_address` should rather be `Vec<usize>`. Mind submitting a PR?

[2019-03-06 15:14] #200 closed

[2019-03-06 15:45] olibearo opened #203 "trace_replayBlockTransactions does not work"
The method name was missing an s, it was `trace_replayBlockTransaction`.

After fixing the method name, the response had a deserialization error.

__rust-web3 error__:

[code]

__Relevant parity-ethereum logs__

[code]

[code]

[2019-03-06 15:47] olibearo commented on #203
Started a branch here: https://github.com/olibearo/rust-web3/tree/replay-block-transactions

[2019-03-06 15:55] CPerezz commented on #195
This is the behaviour that until `confirmations()` is handled correctly. Clossing the issue because there is a workarround.

[2019-03-06 15:55] #195 closed

[2019-03-16 01:05] WyseNynja opened #204 "Need help fetching past and new events from a contract while also checking sync status"
I am trying to subscribe to events on the [uniswap](https://uniswap.info) contracts, but am having some trouble getting any logs.

If I were using pyweb3, I would want something like https://www.reddit.com/r/UniSwap/comments/atddo2/effective_way_to_get_all_uniswap_exchange/ehp8w1z/

[code]

Except instead of printing, I want to subscribe to the events of that Exchange.

I am able to get the [pubsu

[2019-03-16 02:09] WyseNynja commented on #204
Here is some example code that I think is close to working: https://github.com/WyseNynja/rust-web3-uniswap

I'd really appreciate some help getting it actually working. Thanks in advance!

[2019-03-16 20:51] WyseNynja commented on #204
I added some example python code next to the rust code. I did this to make sure my ethereum node wasn't the problem. The python code is working as expected, but the rust code never sees any contract events.

[2019-03-18 10:12] tomusdrw commented on #204
@WyseNynja can you run the node with `-lrpc=trace` and compare what payloads are sent by rust and python implementation?

[2019-03-18 13:10] niklasad1 commented on #163
Fixed in version `0.6`

[2019-03-18 13:10] #163 closed

[2019-03-18 19:50] WyseNynja commented on #204
I'll try that. Is there a similar flag I can set on the rust side to see what payloads are being sent? Something like `RUST_LOG=web3...`?

[2019-03-18 21:26] WyseNynja commented on #204
While waiting for a local node to finish syncing so I can watch logs more easily, I made a [branch](https://github.com/WyseNynja/uniswap-demo/blob/tokenCount/rust/src/main.rs) that uses contract calls instead of events to get the data. It is working better, but I am stumped on how to properly return in different futures in an if/else in a future: https://github.com/WyseNynja/uniswap-demo/blob/d93a

[2019-03-18 22:24] WyseNynja commented on #204
I'm not sure how to get rpc logs out of geth. I'm getting `flag provided but not defined: -lrpc`

[2019-03-19 01:37] WyseNynja commented on #204
I tried in [another branch](https://github.com/WyseNynja/uniswap-demo/blob/tokenCount_with_functions/rust/src/main.rs) to flatten the code a bit by changing the closures into functions, but I got stuck when trying to create a bunch of futures for 1 through `tokenCount()`. I think this is a cleaner way to write this, but I couldn't get it working so I'm definitely doing it wrong.

Part of the reaso

[2019-03-19 08:07] tomusdrw commented on #204
@WyseNynja I don't know about Geth, might be worth asking in the go-ethereum channel. (I suspect it's going to be something like `--vmodule='eth/*=5'`).

You can enable logs in `web3`, you need to instantiate `env_logger` in your `fn main()`, like so:
[code]

Then you can run your example with `RUST_LOG=web3=trace` and it should log the requests as well.

[2019-03-21 18:13] botika commented on #146
Do not you think to upgrade to tokyo? Actix and hyper is working. If stability is not a problem, you have planned to migrate it.

 Do you need help to migrate it?

[2019-03-23 11:29] botika commented on #146
Seriously, I need to integrate it with the actix runtime.

What are you going to do?

Please make clear what you are going to do about it

[2019-03-25 09:50] tomusdrw commented on #146
@botika we currently use the library in a large codebase that is not migrating to `tokio=0.1` any time soon, so it's currently not a priority for us.

However I'm happy to fork of the `futures=0.1` based version and accept a PR to migrate `master` to `tokio=0.1`.

[2019-03-25 10:56] botika commented on #146
Perfect, I'll get to it.

[2019-03-25 15:37] botika opened #205 "Fix to edition 2018"
The only dependence that gives error chain problems, waiting for https://github.com/rust-lang-nursery/error-chain/pull/255 .

[2019-03-25 15:57] tomusdrw commented on #205
We can get rid of `error-chain`, it's deprecated anyway, isn't it?

[2019-03-25 16:30] botika commented on #205
Totally agree. We get to this before migrating to Tokyo #146

[2019-03-27 02:07] gzuhlwang opened #207 "support trace API?"

[2019-03-27 08:44] tomusdrw commented on #207
PRs welcome!

[2019-03-27 08:52] gzuhlwang commented on #207
hello, is there any available 3rd library supporting trace function? I am a new baby to rust.

[2019-03-27 18:43] tomusdrw commented on #207
@gzuhlwang not that I know, sorry. It should be fairly easy to add them to this library though. I'm happy to accept a PR even with partial implementation of those methods and can also help along way.

[2019-03-28 19:31] WyseNynja commented on #204
I've switched my code around to not fetching past logs. It only subscribes to new logs now and that works fine. I'm going to close since I'm not looking into this anymore.

[2019-03-28 19:31] #204 closed

[2019-03-28 19:42] WyseNynja opened #208 "How to parse contract logs"
I just wrote some code to subscribe to the etherdelta contract logs. It is working as expected, but the Log struct itself isn't parsed at all.

[code]

Does a Contract have any helpers for parsing this? I'm not seeing anything like this in web3's code, but I do see some log parsing code in the ethabi crate. I don't see how to access the abi object on my contract object though since it is not marke

[2019-03-28 19:44] WyseNynja commented on #208
I think this is a little different than #26 since that looks like it is about querying the logs and I've already subscribed to them and just need to parse them.

[2019-03-28 21:05] tomusdrw commented on #208
Currently not. There is a rudimentary support for that on this branch though: https://github.com/tomusdrw/rust-web3/tree/td-fixes

[2019-03-28 21:05] tomusdrw commented on #208
The entire contract support should be re-worked for strong typing, see #120 and #17

[2019-04-04 09:41] #205 closed

[2019-04-05 11:25] tomusdrw opened #210 "Overhaul the lib using jsonrpc-core-client"
https://github.com/paritytech/jsonrpc/

And copy over RPC traits from Parity Ethereum to generate the client code instead of manually crafting APIs.

[2019-04-07 23:46] D4nte commented on #177
Hi @tomusdrw, ethereum-types is now released on crates.io. Version 0.5.2 that depends on fixed-hash 0.3.

Can you please update web3?

[2019-04-08 09:18] tomusdrw commented on #177
@D4nte see https://github.com/paritytech/ethabi/pull/149

[2019-04-11 19:17] WyseNynja opened #212 "Update dependencies"
[code]

Most of the tokio stuff can probably be ignored since that is a bigger rewrite, but staying up to date with ethabi and ethereum_types is what matters for my project.

What will it take to bump ethabi and ethereum_types?

The tokio-timer update is a "complete rewrite": https://github.com/tokio-rs/tokio/blob/master/tokio-timer/CHANGELOG.md#020-march-30-2018 . Looks like that is the case for

[2019-04-11 20:35] #212 closed

[2019-04-12 17:00] WyseNynja commented on #212
Thank you!

[2019-04-16 20:46] #186 closed

[2019-04-16 21:31] Jannis commented on #203
@olibearo Isn't this worth another PR?

[2019-04-18 14:13] BaldyAsh opened #214 "Listen smart contract events using Infura nodes?"
Hi! How can I listen smart contract events using Infura nodes?

[2019-04-19 07:22] tomusdrw commented on #214
If Infura supports the regular APIs you simply instantiate the transport and connect to their address.

[2019-04-22 19:51] PascalPrecht opened #215 "WebSocket transport doesn't seem to work"
Or, chances are high I'm doing something wrong...

I'm trying to connect to a local parity node which is running in dev mode:

[code]

I can see that it listens on ports for RPC and WS respectively:

[code]

Using the RPC code sample from the examples works fine:

[code]

However, trying to do the same using WebSocket transport with the following code (also from `examples` folder), just seems to w

[2019-04-23 07:36] PascalPrecht commented on #215
I'm not super familiar with the Ethereum Spec and its protocols, but something tells me that there are some RPC endpoints that don't really make sense to work with WebSockets?

For example, something like the above, getting the current accounts, isn't a "long-living" operation, so using WebSockets for such an API doesn't make a lot of sense. While an API for getting the minded blocks, as they're c

[2019-04-23 08:34] PascalPrecht commented on #215
After further investigation and reading the parity docs closely, it seems I got `Transport` errors because the request origin wasn't allowed:

[code]

Starting parity with `--ws-origins all` does the trick!

Maybe the error message for https://tomusdrw.github.io/rust-web3/web3/error/enum.Error.html#variant.Transport can be improved?

Closing this one as fixed.

[2019-04-23 08:34] #215 closed

[2019-04-23 08:39] tomusdrw commented on #215
Hi @PascalPrecht, glad you figured it out I was just about to investigate this.

We can't really improve the transport message cause the rejection from the server is opaque to us. The  origin issue though should be visible in Parity's logs.

Regarding RPC methods over WebSockets - all methods supported on HTTP are also supported on WS, The JSON-RPC protocol is transport agnostic, it only needs to

[2019-04-23 15:24] PascalPrecht commented on #215
@tomusdrw thank you so much for clarifying this!

This was something I wasn't sure about it. AFAIK Rust is pretty much synchronous and the API

[code]

looks very synchronous as well (JavaScript developer speaking here, haha).

So one thing that's still unclear to me: does web3 take care of closing the socket connection after a one-off call? Is it related to dropping the event handle?

Thanks agai

[2019-04-24 06:29] vityafx commented on #205
Guys, who say that the `error-chain` crate is deprecated and why?

[2019-04-24 09:24] tomusdrw commented on #205
@vityafx it's definitely not maintained currently (see https://github.com/rust-lang-nursery/error-chain/pull/255#issuecomment-486126145) and uses stuff that is deprecated in the stdlib.

[2019-04-24 11:56] tomusdrw commented on #215
The `.wait()` part makes it synchronous, when we get support for `async-await` in Rust it's going to be much nicer, now handling the async code is pretty tricky.

The connection is closed only when you close the server or drop the event loop.

[2019-04-24 12:36] PascalPrecht commented on #215
Got it, thanks for clarifying this @tomusdrw !

[2019-04-30 14:39] justinbretting commented on #208
I’m new to rust, so there's probably a much more elegant way to do this, but I think the following illustrates the core concepts

[code]

[2019-05-29 20:39] PascalPrecht opened #216 "What's the recommended way to get web3::Error descriptions?"
Between web3 0.6.0 and latest master there seems to be a breaking change in how web3::Error is implemented. In 0.6.0 I was able to rely on web3::Error to implement `Error` and therefore had a `description()` API.

This is no longer the case, so i was wondering how I can access a web3::Error's message when wrapping them in my own errors.

[2019-05-30 07:18] tomusdrw commented on #216
@PascalPrecht `std::error::Error::description` is soft-deprecated, you should use `Display` instead. That said the fact that our types don't implement this trait is a bug, it got lost during the refactoring.

See #217

[2019-05-30 07:57] PascalPrecht commented on #216
@tomusdrw thanks for the very quick update! Looks like I'll have to refactor my codebase to prefer Display over Error::description then first! :)

[2019-05-30 11:15] #216 closed

[2019-05-30 19:16] PascalPrecht opened #218 "PendingContract::wait() keeps blocking thread after unwrapping"
Chances are very high that I'm doing something wrong, but I've been looking into the source and read the examples and I can't seem to get my thread moving on after calling `wait().unwrap()` on a `PendingContract`.

My code looks like this:

[code]

`self.connector` is really just a wrapper around rust-web3. The transaction goes through perfect, but the code coming after this call is never executed

[2019-05-30 19:49] PascalPrecht commented on #218
It probably just also means that it indeed never resolves? Seeing the transaction going through and the Smart Contract being created on the node doesn't necessarily mean that anything is returned...

Just thinking out loud here

[2019-05-30 20:33] PascalPrecht commented on #218
Got it! Turns out that `confirmations(ANYTHING_GREATER_ZERO)` caused it, at least for ganache and geth in dev mode.

Closing this one.

[2019-05-30 20:33] #218 closed

[2019-05-31 12:34] PascalPrecht opened #219 "What's the best way to make `execute()`s `params` dynamic?"
This is probably more of a Rust language question than related to this library, but I'm having a hard time finding a solution to this...

For example calling

[code]

Works fine when the Smart Contract in the bytecode only expects one constructor argument. If it, let's say, expects 2 arguments, this call needs to be changed to sth. like this (the single value turns into a tuple of size 2):

[code]

[2019-06-03 08:25] tomusdrw commented on #219
@PascalPrecht If you looke at the docs of `execute` function:
https://docs.rs/web3/0.6.0/web3/contract/deploy/struct.Builder.html#method.execute

It takes `params: P` where `P: Tokenize`. So it's totally fine to write your code in a way that moves `Tokenize` around or just plain `Vec<Tokens>` that `Tokenize` is returning.

I hope `Tokenize` is implemented for `Vec<Tokens>` as it should be, if not

[2019-06-04 07:54] PascalPrecht commented on #219
Hi @tomusdrw thanks for getting back to me here.
So I did look at the docs, in fact, I've studied the source haha.

I guess this depends on what "should be" means here. If you pass a `Vec<Tokens>` to `execute()`, it seems like it's being interpreted as 1 parameter that is an array of token. If you want to apply multiple parameters, Tuples seem to be the way to go.

Right now what I'm doing is actu

[2019-06-04 08:07] tomusdrw commented on #219
I just looked at the implementation and indeed that what happens, due to following implementations:
[code]

So indeed a `Vec<Token>` is converted to a single `Token` that represents an array.

To overcome you can convert `Vec<Token>` to `&[Token]`, so just pass `&*arg` instead of `arg`, but it feels a bit hacky.

I don't have a good idea how to handle `Vec<Token>` correctly without specialization,

[2019-06-04 08:34] PascalPrecht commented on #219
Thanks again for coming back to me here.

I'm certainly no expert in this here, but I'm also not sure if the behaviour for `Vec<Token>` should change either. After all, you may actually want to pass an array as a parameter, unless I'm totally off here.

I'm personally fine with pattern matching the vec count for now and applying tuples of size #n.

Just wasn't sure if that's the way to go in Rust

[2019-06-04 08:36] tomusdrw commented on #219
@PascalPrecht You're welcome!

Actually you don't have to do pattern matching, try this instead:
[code]

and it should work correctly, because of the inconsistencies in handling `Vec<Token>` and `&[Token]`

[2019-06-05 07:43] PascalPrecht commented on #219
This works as intended, thanks @tomusdrw !

I'm not sure I fully understand what this syntax is doing yet. I understand it's a reference to `params` which then dereferences at the same time. However, I'm not sure I follow how that is actually solving the problem :D

If you feel like shedding some light on this, that'd be wonderful! Otherwise, I'm gonna go ahead and close this as solved.

Landed as

[2019-06-05 07:43] #219 closed

[2019-06-05 07:49] tomusdrw commented on #219
So the difference is in `Tokenize` implementation, roughly:
[code]
And now if you look at the details of `Vec<T>` in Rust documentation, you will see it implements `Deref`:
[code]
So you can convert `Vec<T>` into `[T]` with dereferencing syntax, i.e. `*`.

Syntax `&*` is `Deref` + take a reference, so we deref `Vec<Token>` into `[Token]` and then take a reference so we get `&[Token]`.
This results

[2019-06-05 08:19] PascalPrecht commented on #219
Wow thank you @tomusdrw for taking the time! This makes much more sense now.

[2019-06-11 07:45] PascalPrecht opened #220 "Any plans to release a new version?"
I'm close to publishing a first version of https://github.com/pascalprecht/vibranium, however, since it's depending on a rust-web3 version that points to a commit on GitHub, I need to download it into my own repo to publish it along side my project.

It'd be great if that can be avoided with a new release of rust-web3. Is there anything planned?

[2019-06-11 08:44] tomusdrw commented on #220
Just published 0.7: https://github.com/tomusdrw/rust-web3/releases/tag/v0.7.0

Thanks for heads up!

[2019-06-11 08:44] #220 closed

[2019-06-11 08:51] PascalPrecht commented on #220
Thanks man!

[2019-06-14 16:34] fubuloubu commented on #171
Created: https://github.com/ethpm/ethpm-rs

[2019-06-20 14:22] josojo opened #222 "Version 0.7.0 no longer propagate contract errors for .calls"
Hi,

Since the new version of 0.7.0, a contract call:
[code]
does no longer throws an error, if the contract call failed. It used to be like this and it was a highly appreciated feature. Why was it changed? Was this intentional?

I wrote a minimal example - a fork of the simpleStorage - in order to explain how the unwrap no longer fails. Checkout the code here: https://github.com/josojo/rust-web3/

[2019-06-21 22:40] PhdTrollSlayer opened #223 "Assertion failed when calling a SmartContract"
Code:
[code]

Output:
[code]

[2019-06-24 10:29] PascalPrecht opened #224 "How to estimate_gas() on for Contract::deploy() ?"
Web3 spec describes an API to estimate gas for either calls performed on already deployed Smart Contract instances, or for transaction that do deploy Smart Contracts.

There are two `estimate_gas()` APIs in rust-web3:

- `web3.eth().estimate_gas()` - which takes a `CallRequest`. `CallRequest` requires the specification of a `to` parameter which is the address of a Smart Contract that's already dep

[2019-06-24 10:35] PascalPrecht commented on #224
I have noticed that there's a `TransactionRequest` type that makes `to` an `Option<Address>`, and if `None` it'll be a Smart Contract creation: https://github.com/tomusdrw/rust-web3/blob/91639ffee68af98e0ba64e648a30e9edb9adb09a/src/types/transaction_request.rs#L29-L34

I wonder if that should be exposted on `estimate_gas()` APIs, so that `estimate_gas()` takes and Enum that's either a `CallRequest

[2019-06-24 11:53] tomusdrw commented on #224
Yeah, seems that deployment estimation is indeed missing in the API. However I don't think we should change `existing `web3.eth().estimate_gas()` but rather add it to he `Contract` stuff somehow (probably the builder).

[2019-06-24 12:01] tomusdrw commented on #222
@josojo I don't think `contract.call()` did ever return errors from *transaction execution* - this API only schedules a transaction to be executed and gives you the transaction hash. You can check the result only after it's included in the chain.

Querying the contract should however return errors.

[2019-06-24 12:01] PascalPrecht commented on #224
@tomusdrw thanks for confirming!

Okay, I'm going to try to add this API and send a PR ASAP. Maybe you can help me getting in it shape once I have something in reviewable state.

[2019-06-24 12:03] tomusdrw commented on #223
Can you enable `BACKTRACE` and show exactly where the error is? My guess is that you try to put hex-encoded string that represents `Address` and put it directly to the type using `Address::from_slice`, most likely here:
`Address::from_slice(end_servidor.as_bytes())`

[2019-06-24 12:44] PhdTrollSlayer commented on #223
Backtrace:
[code]

[2019-06-24 13:19] tomusdrw commented on #223
Indeed, so if I count correctly, its because you are doing `Address::from_slice(end_servidor.as_bytes())`. The docs for `::from_slice` warn that it panics if given slide has incorrect length. Can you try this instead:
[code]
?

[2019-06-26 15:20] josojo commented on #222
@tomusdrw
`contract.call()` was behaving like that. In order to convince you, here is a minimal example:
[Minimal example](https://github.com/josojo/web3-min-example)
Check out the readme to see how it can be reproduced.

[2019-06-26 15:37] bh2smith opened #225 "[Question] Regarding Example"
Hello, I am wondering if perhaps the readme for example is missing something?

I have cloned the project and followed the guide from `example/readme.md`. That is

[code]

Everything appears to compile fine, but the only thing appearing in ganache is a revert statement:

[code]

The `cargo run` itself just appears to freeze/hang like so;

[code]

I am still kinda new to rust, but have tried this wi

[2019-07-03 01:44] rodoufu opened #226 "eth.transaction getting Io(Kind(BrokenPipe))"
I'm trying to get a transation by the transaction hash but I'm getting the Error `Io(Kind(BrokenPipe))`, what am I missing?

I'm using a unit test to run it, but I keep getting this error, I've tried using Node.js and it works.
Everything is working on a single thread.

[code]

[2019-07-03 10:37] tomusdrw commented on #226
What backend are you connecting to? Do you mind adding `env_logger` to your app and running with `RUST_LOG=web3=trace`?

[2019-07-03 19:55] rodoufu commented on #226
I'm connecting to Ganache, I 'm going to post more info today later.

[2019-07-08 16:07] gakonst opened #227 "TowerWeb future times out"
I have an API built with https://github.com/carllerche/tower-web/. It works by enclosing a struct definition in a `impl_web!` macro and exposes api endpoints to any function you decorate.

Inside the API, I want to perform some ethereum-related action, for the example let's say fetching the tx count of an address.

When using `.wait()` on the call, everything works fine. When chaining `and_then`'s

[2019-07-09 15:39] tomusdrw commented on #222
Hi @josojo!
Just found some time to finally debug the issue, and suprisingly the behaviour is indeed different across versions.

So firstly - this only affects ganache - note that `eth_sendTransaction` will never return contract call errors and you should not expect it to do so when connected to a real node, since the transaction is executed asynchronously.

However `ganache` seems to invoke trans

[2019-07-09 15:43] tomusdrw commented on #225
Seems that the deployment code waits for `4` confirmations, and `ganache-cli` most likely does not mine blocks.
Could you try changing `confirmations(4)` to `confrimations(0)` and see if it works?

[2019-07-09 17:39] tomusdrw commented on #226
Most likely same issue as #227

[2019-07-09 17:39] #226 closed

[2019-07-09 17:40] tomusdrw commented on #227
Dropping the `_eloop` object in your examples kills the underlying `EventLoop` of `rust-web3`.

`rust-web3` is still using `tokio_core` instead of `tokio` (see #tokio), so it doesn't have a notion of "always-available-in-the-background-runtime", instead the event loop thread is started and controlled manually by the transport.

I just made a PR (see #228) to allow the `EventLoop` to run in the bac

[2019-07-09 17:40] #227 closed

[2019-07-09 17:43] tomusdrw commented on #225
Actually deploying the contract should work fine, so the `revert` should not be there. It actually seems that the example deploys a `json` file instead of actual solidity bytecode.

[2019-07-09 17:43] tomusdrw commented on #223
Closing as resolved.

[2019-07-09 17:43] #223 closed

[2019-07-09 17:44] #214 closed

[2019-07-09 17:45] tomusdrw commented on #222
Closing since I believe it's not really an issue with `rust-web3` and current behavior of parsing `result` does not break compatibility with `ganache`.

[2019-07-09 17:45] #222 closed

[2019-07-10 06:26] bh2smith commented on #225
Interesting, I will play around with it some more and see what I can do about it.

[2019-07-10 10:15] tomusdrw commented on #225
Actually just realised it's a duplicate of #182 , let's continue there.

[2019-07-10 10:15] #225 closed

[2019-07-10 10:16] tomusdrw commented on #182
The code that is being deployed in `contract.json` example is just invalid, it's a JSON file not solidity bytecode.
We should compile a simple token example and deploy this instead.

[2019-07-10 10:18] tomusdrw commented on #145
Already done.

[2019-07-10 10:18] #145 closed

[2019-07-10 10:18] tomusdrw commented on #125
Works now.

[2019-07-10 10:18] #125 closed

[2019-07-10 10:19] tomusdrw commented on #12
Done. Using rustfmt now.

[2019-07-10 10:19] #12 closed

[2019-07-10 10:19] tomusdrw commented on #26
Duplicate of #208

[2019-07-10 10:19] #26 closed

[2019-07-10 10:21] tomusdrw commented on #114
Done, we switched to `U128`.

[2019-07-10 10:21] #114 closed

[2019-07-10 10:21] tomusdrw commented on #116
Most likely integrate with https://github.com/tomusdrw/ethsign

[2019-07-10 10:23] tomusdrw commented on #123
I don't consider it's that needed, might be better to keep the APIs simple.

[2019-07-10 10:23] #123 closed

[2019-07-11 08:45] gakonst commented on #227
Amazing. Thank you so much @tomusdrw, works as expected now.

[2019-07-11 09:48] gakonst commented on #227
I see, that makes sense. When using your solution, the `into_remote()` call hangs though. I've pushed to the repository to illustrate it. Tried with geth, parity and ganache-cli, hangs in the same place (tried websockets as well) https://github.com/gakonst/web3-rust-tower-web-repro/commit/66733c422b5cbaa30675049665605e31c1cf24d5

[2019-07-11 09:57] tomusdrw commented on #227
Ugh, yeah sorry. I've implemented it incorrectly: see #230 for a fix.

[2019-07-11 10:03] gakonst commented on #227
Fantastic. Just tested it and it works. Thank you.

[2019-07-17 09:47] josojo commented on #222
@tomusdrw

Thanks a lot for digging down this rabbit hole! This is indeed a strange behavior from ganache.

[2019-07-27 21:28] steveswing opened #238 "Support Infura project secret"
Infura Basic auth only requires a project secret as a password and omits a username. The current implementation skips creating basic_auth if username is empty.

[2019-07-27 22:02] steveswing commented on #116
We used ethsign with web3 indirectly -- in https://github.com/SubstratumNetwork/SubstratumNode -- but had to copy RawTransaction to work around type conflicts between web3::types, ethereum-types, and primitive-types.

[2019-07-29 08:17] tomusdrw commented on #116
@steveswing cool! Yeah, there is no proper transaction type around (except for parity repo, but you really don't want to reference that in your code). I also wanted to avoid it in ethsign (initially), but would be happpy to include it at some point, along with different signature payloads that Ethereum is using (signData, signTransaction, etc)).

[2019-07-30 09:43] geigerzaehler opened #241 "Use `status` field to determine if deployment was successfull"
At the moment, contract deployment is considered successful if the `contractAddress` field in the receipt for the deployment transaction is set ([code](https://github.com/tomusdrw/rust-web3/blob/7c80ad3368d9a6d32ea92a91bca963268a16b9c2/src/contract/deploy.rs#L124-L125)). This behavior does not yield correct results with `parity-ethereum`. `parity-ethereum` provides the `contractAddress` even if th

[2019-07-30 10:16] tomusdrw commented on #241
That sounds good to me. I'd fallback to `contractAddress` detection if `status` is `null` though (for backward compatibility).

[2019-07-31 05:38] easyku opened #243 "serialization block size fails"
geth1.9.1  rpc   pub size: Option<U256>

[2019-07-31 09:47] tomusdrw commented on #243
Can you be a bit more specific? Does the rust-web3 fail to deserialize a block returned by geth or the other way around (is there any API that takes a block as input?).

[2019-08-02 21:20] leoyvens opened #244 "Empty batch fails to parse"
According to the json-rpc spec, an entirely empty response is correct for a batch with no responses at all. But this currently causes a parse error. See https://github.com/graphprotocol/graph-node/issues/1025 for issues caused by this bug.

[2019-08-05 12:35] AchalaSB opened #245 "No webassembly support"
Hi,
I'm compiling rust code to webassembly. My code contains `web3 crate`. While doing `cargo run` getting errors(socket errors `as_sock()` ). seems like web3 is not supporting webassembly.

When will expect web3 to support webassembly??
Or is there is any alternatives?

Thanks in advance

[2019-08-05 15:01] tomusdrw commented on #245
Compiling web3 to wasm is currently not supported, see: https://github.com/tomusdrw/rust-web3/issues/21

We've not put any effort yet into porting it, but it might be as simple as adding a conditional `no_std` feature and disabling all the transports (+ most likely using non-std versions of deps). Note however that producing a separate transport that uses JS `fetch` would most likely be required t

[2019-08-05 15:01] #245 closed

[2019-08-06 16:07] #241 closed

[2019-08-07 07:00] AchalaSB commented on #245
@tomusdrw Thanks for update.

Is there any other rust crate using which I can connect to ethereum ? of course with webassembly support??
Have checked `jsonrpc` crate https://github.com/paritytech/jsonrpc where you are contributing as well. But there I didn't see any function call to connect ethereum.

[2019-08-07 08:50] tomusdrw commented on #245
@AchalaSB no other crate, as far as I know, sorry.

[2019-08-13 20:52] fubuloubu commented on #21
I would like to take a crack at this over the next few weeks, if possible.

@rphmeier @tomusdrw What do you think would be a good start to support this?

[2019-08-13 21:29] tomusdrw commented on #21
@fubuloubu If your goal is to compile to WASM, I think that:
[code]
would be a good starting point. Then fixing dependencies one-by-one to make sure they compile when targeting wasm (i.e. avoid threads, io, etc).

[2019-08-13 22:18] fubuloubu commented on #21
Oh, great tip! Thanks!

I have a smaller library to upgrade first, so this will get me there eventually.

[2019-08-13 23:03] fubuloubu commented on #21
Good news? I think?
[code]

[2019-08-13 23:08] fubuloubu commented on #21
Looks like mostly `sys` and C types,  as well as sockets.

[code]

[2019-08-14 04:49] fubuloubu commented on #21
@tomusdrw would it be okay to upgrade all uses of `HashMap` to use `BTreeMap` instead?

[2019-08-14 09:53] rphmeier commented on #21
We may also have to make a decision on what functionality we want to feature-gate to `std` only. For instance, we almost definitely want to leave the transport traits, but the implementations for WebSockets, IPC, and http almost definitely require `std`.

[2019-08-14 10:26] tomusdrw commented on #21
I just re-read that you want to use it inside substrate runtime. This will cause additional issues and require `no_std` feature and depending on `core/alloc` stuff.

Switching to `BTreeMap` imho should be feature-gated as well, it can have pretty big performance impact.

[2019-08-14 12:31] fubuloubu commented on #21
Cool, well I'll see if I can get it working in a branch and will maybe submit a PR to figure out how to handle gating with `no_std`. Sound like a good plan?

[2019-08-14 13:42] fubuloubu commented on #21
The other big issue I had is `std::error::Error`/`std::io::Error`. Not sure how best to handle this, but it doesn't look trivial to swap out from my limited knowledge.

[2019-08-23 07:27] Wizr opened #248 "the example `pubsub` does not work"
except add this line or similar before subscription:
[code]

[2019-08-26 08:57] tomusdrw commented on #248
Can you elaborate? What you get in the console logs? Can you run the example with `RUST_LOG=web3=trace`?

[2019-08-26 17:17] Wizr commented on #248
``
[2019-08-26T14:15:15Z TRACE web3::transports::ws] Connecting to: "ws://ip:port"
[2019-08-26T14:15:15Z DEBUG web3::transports::ws] [1] Calling: {"jsonrpc":"2.0","method":"eth_subscribe","params":["newHeads"],"id":1}
[2019-08-26T14:15:15Z TRACE web3::transports::shared] [1] Request pending.
[2019-08-26T14:15:15Z TRACE web3::transports::shared] [1] Checking response.
``

[2019-08-27 08:35] tomusdrw commented on #248
Ok, that's really weird - is that a complete log? You didn't even receive a response to subscribe request (containing the subscription id).

Can you post the logs from a run containing the line that you've mentioned earlier?

[2019-08-27 09:09] Wizr commented on #248
code:

[code]
logs:

[code]

[2019-08-27 09:11] Wizr commented on #248
code:

[code]
logs:

[code]

[2019-08-28 04:46] pawanjay176 opened #249 "Handling disconnection"
Currently, if I disconnect my websocket service while a request is in progress, the request just hangs. Is there any way I can detect disconnection from an endpoint and try to reconnect?

[2019-08-30 10:47] tomusdrw commented on #249
Unfortunately not yet. The `ws` transport should be handling reconnects on it's own, but it's not implemented. PRs welcome! :)

[2019-08-31 07:01] pawanjay176 commented on #249
Could you give me some basic pointers as to how to go about doing that?

My idea is to send a periodic `OwnedMessage::Ping` message in the `writer` future within `with_event_loop` function and if we don't get a response within some timeout, then call the `with_event_loop` function recursively to reconnect. Does this approach make sense?

[2019-09-02 08:10] tomusdrw commented on #249
Yeah, that makes perfect sense. Make sure to make `Ping` interval configurable. I was actually sure that `websocket` crate is handling low-level WS pings on it's own, but apparently it's not.

[2019-09-02 10:22] Wizr commented on #248
After days of debugging, it turns out to be something wrong with the network setting of the service provider.
Sorry for wasting your time. I will colse this issue.

[2019-09-02 10:22] #248 closed

[2019-09-02 21:21] tomusdrw commented on #248
@Wizr good to know it's solved. Shamefully I haven't looked at this too much, but was pretty puzzled why it wouldn't work.

[2019-09-11 16:29] rockbmb opened #254 "Implement project listing"
This issue is about implementing the ability for a user to query the ledger for the projects they are members of.

The end result should be a new `Client` method:

[code]

[2019-09-11 16:45] tomusdrw commented on #254
Sorry, I'm not familiar with this API. Is that some custom thing? Unless there is an EIP for this and implementation in major clients I don't see how it fits the library.

[2019-09-16 09:16] k06a opened #255 "How can I serialise BlockHeader to RLP?"
I wish to serialize BlockHeader back to RLP as it was store in Ethereum blockchain. I wonder if it is possible with `Serialize`?

[2019-09-16 09:29] tomusdrw commented on #255
No it's not. The types in this crate are not RLP-serializable. There is a separate crate to do so here: https://docs.rs/crate/rlp/0.4.2

And the format is here: https://github.com/paritytech/parity-ethereum/blob/00124b5a4bf8a38ad6c660b462a5e5addf13cab3/ethcore/types/src/header.rs#L293

[2019-09-16 09:30] #255 closed

[2019-09-16 09:47] k06a commented on #255
Maybe to import basic types from https://docs.rs/ethereum-types/0.1.1/ethereum_types/ intead on reimplementing it to support this `rlp` library natively?

[2019-09-16 09:58] tomusdrw commented on #255
@k06a That's what we do for the primitive types indeed: https://github.com/tomusdrw/rust-web3/blob/master/src/types/uint.rs#L1

`ethereum-types` does not contain the higer-level types like `BlockHeader` though.

[2019-09-16 10:21] k06a commented on #255
@tomusdrw, cool! What about `ethereum-block` lib?

[2019-09-16 10:32] tomusdrw commented on #255
Fine with me. I'd also accept a PR with an optional compilation feature to `rust-web3` to support RLP encoding.

[2019-09-16 12:43] geigerzaehler opened #256 "send_transaction_with_confirmation with 0 confirmations for development"
I’d like to use `send_transaction_with_confirmation` with Parity and a [private development chain](https://wiki.parity.io/Private-development-chain.html) (`parity --config dev`). This development chain mines a block immediately after a transaction arrives and it only mines blocks when transaction arrives. This means that I cannot use `send_transaction_with_confirmation` with a confirmation count o

[2019-09-16 14:33] rockbmb commented on #256
@geigerzaehler

This is a little dangerous since we might block the thread if the confirmation number is too high, especially outside of test settings like ours.

[2019-09-20 11:55] AchalaSB commented on #245
@tomusdrw  Just need some clarification
when I tried to compile this code to wasm got error for socket
[code]
Is this because of websocket library you are using? If so that library is required to connect to ethereum?
I'm trying to alter this library only. if any of the dependencies is not really required will skip those or else have to make all dependency as compatible its too hard for me.

Please

[2019-09-21 11:07] azastrael commented on #207
Hey :wave:!

Isn't it already supported? (https://docs.rs/web3/*/web3/api/struct.Traces.html)

[2019-09-21 11:41] azastrael commented on #203
Hey :wave:!

This should work now! :smiley:

[2019-09-22 11:00] rakanalh opened #263 "Convert string address to type `Address`"
I have been trying to look at the documentation to be able to parse a hex address such as `0x18A0a29cd1122cBE89dcd1dA14d2f5F487AdAA54` to `web3::types::Address`.

I tried using
[code]

But this panics as follows:
[code]

I looked all over the documentation and can't wrap my head around this. Is there a way to parse the address properly?

Edit: I tried removing the first two characters from the str

[2019-09-22 11:54] thomaseizinger opened #264 "What is the need for the `EventLoopHandle`?"
We have using this library for a while and I've always wondered, why creating an HTTP transport returns you an `EventLoopHandle` that you have to keep around.

All the methods return Futures. Why can't these Futures not just encode all the work that needs to be done in order to return the response?

I've looked into the code a bit and couldn't find any apparent reason of why a background thread is

[2019-09-22 12:05] rakanalh commented on #263
For reference, i created this function for now which does the trick:
[code]

[2019-09-22 12:05] #263 closed

[2019-09-23 08:18] tomusdrw commented on #207
@azastrael Most likely. Closing as it seems implemented, if anything is missing please open new, more specific issue.

[2019-09-23 08:18] #207 closed

[2019-09-23 08:26] tomusdrw commented on #264
Hey @thomaseizinger!

It's mostly historical reasons, the large part of the code is still based on `tokio-core` and I've tried to hide it as implementation detail.
Now that futures are stabilised, I'm happy to move on and rewrite everything to be future-based. Might actually be worth to wait a bit longer and rewrite to async-await.

[2019-09-23 08:28] tomusdrw commented on #245
You should definitely avoid compiling anything that touches IO (disk, networking, etc), cause it will for sure fail.
That might require feature-gating some stuff. Make sure that you are not compiling any transports.

[2019-09-23 10:47] thomaseizinger commented on #264
Interesting, thanks for the insight! :)

[2019-09-23 17:13] stanislasdrg opened #266 "How to create an account and retrieve a private key ?"
Hello,
I am trying to create an account by using something similar to the web3.js function  [web3.eth.accounts.create([entropy])](https://web3js.readthedocs.io/en/v1.2.1/web3-eth-accounts.html#).
I have gone through both the code and the docs and - correct me if I am wrong - it looks like these APIs have not been implemented. Is there any workaround that I have missed ?

Edit : I have discovered t

[2019-09-24 05:27] AchalaSB commented on #245
Thanks @tomusdrw
Have modifying this library. Remove all the unwanted stuff for my application
Replaced `hyper` with `http` to call the requests.
but getting an error
[code]
can help me to resolve this error

[2019-09-24 08:35] tomusdrw commented on #245
@AchalaSB web assembly will not really support any transports at all. The way you can actually contact the server will depend heavily on you target (browser, wasi) and the transport need to be specific to this.

[2019-09-29 11:49] rakanalh opened #269 "Fetching past events for a certain contract"
Using the following code:

[code]

I have been trying to get past events for a contract which i know there's [at least one](https://kovan.etherscan.io/tx/0xbe681effbac095c8299983a91fe9b371e032e9bb95026ccd82446600da812d0a#eventlog) event has been emitted.

However, running the above example, the `println!("Events {:?}", events)` is showing that 0 events are being returned.

My question: Is this the

[2019-09-29 13:49] rakanalh commented on #269
Making the same call to Infura using curl:
[code]
Results in:
[code]

[2019-09-29 18:31] rakanalh commented on #269
seems like i was using `eth_createFilter` rather than `eth_getLogs`. For reference, i had to switch to using `web3.eth().logs()`

[code]

[2019-09-29 18:31] #269 closed

[2019-09-30 07:50] tomusdrw commented on #269
@rakanalh Great to hear it's solved. Indeed filters are only for subscribing to events from new blocks, while `eth().logs()` allow you to query historical data.

[2019-10-07 04:53] WyseNynja commented on #146
Any progress on this @botika? I'm about to start a project and was planning to use async/await. There's compatibility layers, but I'd like to use as little of that as possible.

[2019-10-28 23:23] WyseNynja opened #276 "How to convert a &str or String to a bytes32?"
I am trying to call a contract function that takes a bytes32 as its input. I've found some javascript helpers to convert from a string to a bytes32, but I don't see anything similar here.

https://github.com/Synthetixio/synthetix/issues/295

https://github.com/Synthetixio/synthetix-js/blob/414cd138d12fc16e6239d46a0e651eac118688b7/src/util/index.js#L82

[code]

Do you have any suggestions for how t

[2019-10-29 10:43] tomusdrw commented on #276
doesn't `b"SNX"` work good enough?

[2019-10-29 15:46] WyseNynja commented on #276
Oh! That is the simple thing I should have expected. Thank you!!!

[2019-10-29 18:08] WyseNynja commented on #276
[code]

[2019-10-29 18:15] WyseNynja commented on #276
This is working! Thank you!

[code]

[2019-10-29 18:15] #276 closed

[2019-10-29 18:58] WyseNynja commented on #133
Did this example ever get written?

[2019-11-06 19:35] khangle27 commented on #151
Hi I've got a similar problem using Infura websocket and web3 pubsub. The connection seems to get lost after a period of inactivity or just randomly sometimes, and the subscription,  while still running/opn, no longer tracks events. Any chance the wrapper transport you mentioned @tomusdrw can be included in the rust-web3 api?

[2019-11-09 14:12] tomusdrw commented on #151
@khangle27 Happy to review & accept a PR or mentor on the topic, don't have enough time to do it myself though.

[2019-11-19 06:04] WyseNynja opened #285 "Support EIP-1898 - geth state-related RPC methods now support specifying block hashes as well as block numbers"
I noticed that Geth 1.9.6 added support for specifying block hashes for some methods (https://github.com/ethereum/go-ethereum/pull/19491).

https://eips.ethereum.org/EIPS/eip-1898

In my code, I've been passing the block number through, but passing the block hash through will give consistent answers if a re-org happens in the middle of some calls.

I think functions that have `block: Option<BlockN

[2019-11-19 11:18] tomusdrw commented on #285
I guess we could introduce a `BlockId` enum with `Hash` and `Number` variants.

[2019-11-19 11:25] #116 closed

[2019-11-19 19:51] WyseNynja commented on #285
I think that would work. Maybe something like:

[code]

But maybe the BlockNumber enum should have `Hash(H256, bool)` added to it instead? It looks like that would cover all the functions needed. I'm not sure if it covers too much though. The name "BlockNumber" also wouldn't fit as well. I think renaming it to "BlockId" matches the better since it has strings like "latest" and "earliest" in it, to

[2019-11-19 20:40] fubuloubu commented on #21
I've been thinking about this a bit more, and it probably makes more sense if just the Web3-specific types are available as no_std, perhaps as a separate crate.

A great example of this is `Bytes`, which I am using in the https://github.com/ethpm/ethpm-rs repo to serialize/deserialize ethPM packages. Other types would be very helpful as well.

[2019-11-19 21:51] macrauder opened #286 "Create account from private key"
Hi,

is there a method to create an account based on an existing private key, similiar to
[https://web3js.readthedocs.io/en/v1.2.0/web3-eth-accounts.html#privatekeytoaccount](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-accounts.html#privatekeytoaccount) so that is possible to us HDWallet keys or simple local keys as an starting point?

thx

[2019-11-20 11:52] tomusdrw commented on #286
There is a parity-specific method if you want to create a private key on the node:
https://docs.rs/web3/0.8.0/web3/api/struct.ParityAccounts.html#method.new_account_from_secret

Local signing got just merged recently (#279) and you can use `SecretKey` from `ethsign` crate, which should support arbitrary key (although it doesn't support derivation).

[2019-11-21 21:20] brockelmore opened #288 "ABIencoderV2/tuple support"
I believe the error I am running into is around abi encoder V2 and contracts that use it.
[code]

Happy to try to help, but I am brand new to the library.

[2019-11-21 21:24] brockelmore commented on #288
I see that it is upstream in ethabi.

[2019-11-21 21:24] #288 closed

[2019-11-23 00:27] WyseNynja commented on #264
[Async/await is stable!](https://blog.rust-lang.org/2019/11/07/Async-await-stable.html)

Would it be better to change web3 to use tokio instead of tokio_core, or should it be changed to use futures and then each application can choose their own executor?

I think we might need to keep tokio because they provide timers.

[2019-11-23 01:38] thomaseizinger commented on #264
It would be nice to not force an executor onto consumers of the library if it is not strictly necessary :)

[2019-11-29 23:30] nlordell opened #290 "Estimate Gas Not Working With Geth"
`Eth::estimate_gas` does not seem to work when connected to a geth node. From what I can gather this is because ethereum/go-ethereum#2586 where geth does not implement the documented Web3 specification for `eth_estimateGas`.

According to the [specification](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_estimategas), `eth_estimateGas` expects the same parameters as `eth_call`, that is (in `ru

[2019-12-01 12:02] tomusdrw commented on #290
Yeah, not sending the second parameter in case `BlockNumber` is `None` seems like a good solution to me. We already have some node-specific workarounds in the codebase afair, so I'm happy to accept a PR fixing this.

[2019-12-03 14:14] #290 closed

[2019-12-03 22:30] tuler opened #292 "Implement eth_chainId"
Implement the [eth_chainId](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-695.md) call.

Geth, parity and ganache support it.

[2019-12-04 00:35] tuler commented on #292
Created a [PR](https://github.com/tomusdrw/rust-web3/pull/293) for this.

[2019-12-05 23:03] #292 closed

[2019-12-06 06:18] 606simps opened #294 "What's the generic way to manage web3 with different transport types?"
Hi I am relatively new to rust and rust-web3. Now I see the example codes are like
[code]
[code]
Which we need to create the transports with corresponding structures. Is there a generic way to create the transport without worrying what's the underlying transport? Which can accept different kinds of endpoints. Like below
[code]
What I am seeing now is if I want to write codes supporting http and ws

[2019-12-06 09:50] tomusdrw commented on #294
Hi @606simps! You have a few options to achieve that. You can either:
1. Write your functions in a generic way so that they support any `<T: Transport>`
2. Use `impl Trait` feature, using `web3:Web3<impl Transport>`, should be roughly the same as (1), but probably less code.
3. Use `Box`: `pub type Web3 = web3::Web3<Box<Transport>>`, this makes your code fully generic, but it might introduce an ex

[2019-12-06 14:31] vfusco commented on #294
Hi @tomusdrw and @606simps , I'm new to rust as well and trying to solve the same problem. I've tried these approaches without success. Maybe I'm missing something. What I was trying to do was something like:
[code]
But had problems with the associated type `Out` from `Transport` that I couldn't figure how to specify on the struct and on the return type of the `new_web3_transport`. The `connstring

[2019-12-08 17:31] rodoufu commented on #264
I agree, tokio_core's been deprecated a long time ago.

[2019-12-10 09:27] samparsky commented on #288
@brockelmore Have you been able to solve this?

[2019-12-10 11:46] brockelmore commented on #288
Nope - its upstream here: https://github.com/paritytech/ethabi/issues/113 so it probably wont be fixed any time soon

[2019-12-11 12:06] tomusdrw commented on #294
@vfusco @606simps Apologies, I mistakenly thought that `Box`ing the transport would be possible, but it seem that due to some early (not so wise) design decisions of the library, writing fully transport agnostic code without generics is not really possible.

I've made a workaround to this problem, if you know the transports you might be running on in advance. Have a look at this:
https://github.co

[2019-12-11 12:09] 606simps commented on #294
@tomusdrw Thanks this is a great example! I'll try to use it for my project.

[2019-12-11 21:24] #294 closed

[2019-12-12 08:59] khangle27 opened #298 "Contract method call data to Bytes for web3::types::TransactionParameters"
@tomusdrw

I'm trying to use the `sign_transaction()` method which takes `TransactionParameters` as one of its parameters. I'd like to encode to Bytes the ERC20 smart contract standard's `transfer(address _to, uint256 _value)` method call but cannot find a way to do so with rust-web3.
In web3js, [`methods.myMethod.encodeABI` ](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-contract.html#contract

[2019-12-12 09:36] tomusdrw commented on #298
Take a look at `ethabi` library: https://github.com/paritytech/ethabi it can be used to encode calls, the tight integration is between these two is still open #120

[2019-12-12 09:36] #298 closed

[2019-12-16 12:17] samparsky commented on #288
Were you able to work around it?

[2019-12-16 13:28] brockelmore commented on #288
Nope pretty fundamental to interacting with latest smart contracts like dydx and many other defi protocols. I use rust and compile down to wasm so I am able to pass JavaScript values in and sidestep doing it in rust all together

[2019-12-18 03:22] fordN commented on #288
@samparsky @brockelmore I've added support for Solidity Structs/Tuples in a [forked ethabi](https://github.com/graphprotocol/ethabi/tree/graph-patches) repo that we use in [graph-node](https://github.com/graphprotocol/graph-node) Maybe you'll find it useful here. :)

I would like to write up a PR and work on getting my changes merged into the original ethabi repo here, but unfortunately it is not

[2020-01-04 07:37] yulidai opened #300 "There's a problem when Web3 as a return of function"
### What's the version?
[code]

### Examples of failure
[code]
Error message:
[code]

### Examples of success
[code]

[2020-01-04 08:24] yulidai commented on #300
It's not just HTTP, same as WebSocket.
After println debug info, you can see that the state has changed:

[2020-01-05 16:02] tomusdrw commented on #300
@yulidai please see:
https://github.com/tomusdrw/rust-web3/issues/227#issuecomment-509737556

In short, you can't drop `_eloop` object, as it's crucial for running the transport. Call `into_remote` to run have it running in the background.

[2020-01-05 16:02] #300 closed

[2020-01-08 03:28] chabashilah opened #301 "Regarding simple_log_sub example"
Hi,

I am trying to execute `simple_log_sub.rs` in the example but it stops around the contract deployment(around l.23). The compile is properly done though it hangs. In ganache log, the contract deployment is done but rust code stops at the deployment code. Actually, `simple_log_filter.rs` seems to have the same behavior.
Do I miss something to run them?

What I did is following the instruction w

[2020-01-08 10:51] tomusdrw commented on #301
@chabashilah can you run with `RUST_LOG=web3=trace` (make sure to initialize `env_logger`) and provide logs from that run and ganache logs?

[2020-01-08 13:49] chabashilah commented on #301
Hi @tomusdrw,

This is the output log of simple_log_sub example.
[code]
And this is ganache log.
[code]
The ganache log should have a transaction of `hello` function call but didn't appear.

Thank you

[2020-01-08 14:00] chabashilah commented on #288
@fordN The PR will be super helpful!! Thank you!!

[2020-01-08 15:50] brockelmore commented on #288
Btw, I think there is a bug in your tuple parsing around dynamic length bytes. Check out this fork for a working [version](https://github.com/cryptoeconomicslab/ethabi).

A good test is to use it with dYdX txs, which your version fails for

[2020-01-09 00:43] fordN commented on #288
@brockelmore, thanks for testing!  Kind of incredible that I haven't come across that issue already given that it's been used successfully with many contracts.

I'd love to replicate the failure scenario you found and dig into it. Steps to repeat?

[2020-01-09 00:45] fordN commented on #288
@chabashilah great to know! In that case, I'll try to get that PR review process kicked off this week.

[2020-01-09 09:05] olanod opened #303 "Use reqwest as client library for WASM browser support"
Having a quick glance to the dependencies I see you depend on hyper directly, would it be a big effort to use reqwest instead? is one of the most used http clients this days and provides a nicer API, on top of that they already went through the effort of making it work with web assembly which seems like a major effort that this project doesn't look very motivated to take. Reqwest would act as the

[2020-01-09 17:26] dvdplm commented on #288
@fordN if/when you do get a chance to upstream your changes, ping me and I'll try to get it reviewed asap.

[2020-01-10 04:40] chabashilah opened #304 "Unexpected `web3::contract::tokens::Tokenize` is not implemented error"
Hi,

When I compiled my code which contains a smart contract invocation, I got a following error.

[code]

However, when I change `ary3` length from 6 to 8, the compile went well.
Does the array length affect to the compile result?

Thank you

[2020-01-10 07:54] BaldyAsh opened #306 "Error when calling contract"
Hi, @tomusdrw, thank you for the great project, but I have a problem.
I'm trying to call contract variable as follows:
[code]

After that I the error occurs:
[code]

As I understand I need to specify Detokenize type, but it bothers me that in the examples it works the way I wrote ([for example here](https://github.com/tomusdrw/rust-web3/blob/master/examples/simple_storage.rs#L36)) How can I correc

[2020-01-10 10:17] tomusdrw commented on #306
@BaldyAsh you seem to be calling `.as_u32()` so ti means you expect a particular type to be returned by `result.wait().unwrap()`. Please try this:
[code]
Replace `U256` with the type that you actually expect.

You can also do it in one line:
[code]

Please comment here if it doesnt' solve your issue.

[2020-01-10 10:17] #306 closed

[2020-01-10 10:21] tomusdrw commented on #304
Yeah, unfortunately Rust requires us to implement this trait manually for every size and it was only implemented for 5 and then 8 and 16. I've added implementations for up to 16 elements and then power of two in #307

[2020-01-10 11:12] tomusdrw commented on #301
Is that everything? Seems we never really fetch the receipt from ganache. Is ganache producing empty blocks?

[2020-01-12 04:11] chabashilah commented on #301
Yeah, it was. What I got after that was `eth_getFilterChanges` only. A new block seems not to be created.

[2020-01-12 05:42] chabashilah commented on #304
Thank you!!

[2020-01-12 13:40] wilbarnes opened #308 "returning struct fields from a public bytes32 => Struct mapping"
Hi,

I'm attempting to query a contract's public mapping `(bytes32 => Struct)` to the retrieve the variables of a `Struct { address addr, uint256 mynum }`.

[code]

I can see the correct variables there, but don't know how to access them.

I tried the below based on other solutions (https://github.com/tomusdrw/rust-web3/issues/47 and https://github.com/tomusdrw/rust-web3/issues/115) in the closed

[2020-01-12 14:59] #304 closed

[2020-01-12 21:33] fordN commented on #288
Hey @dvdplm, just a heads up that I've submitted [PR#174](https://github.com/paritytech/ethabi/pull/174) with the Tuple support updates. :)

[2020-01-15 17:38] Jannis commented on #288
@brockelmore Tuple support has been merged into https://github.com/paritytech/ethabi. Can you check whether it still has the tuple parsing issue and if so, file an issue in the ethabi repo so we can take a look?

[2020-01-17 20:06] daviddimariaFF opened #310 "New Release?"
Master is ahead (5 months) of the most recent release (0.8.0).  Do you intend to cut a new release, or at least tag a version to some commit hash in master?  On a related note, is master considered stable, or it it 0.8.0 the latest stable?  Thanks!

[2020-01-18 13:26] tomusdrw commented on #310
Thanks for heads up, just released v0.9.0

Current master can be generally considered stable, but I plan a big refactoring to migrate to latest futures and possibly async-await so best not to rely on it directly in the near future.

[2020-01-18 13:26] #310 closed

[2020-01-23 02:12] chabashilah commented on #288
If I change the version of ethabi to latest one in rust-web3, is ABIencoderV2/tuple able to use?

[2020-01-25 07:44] chabashilah opened #312 "ABIencoderV2/tuple support"
Hi,

I know there is a closed issue that has the same title (#288 ) but let me ask one thing.
I think `ethabi` has been modified to take into account  `ABIencoderV2/tuple`. So, if the version of `ethabi` in `Cargo.tom` of `rust-web3` is updated, calling smart contract function with struct arguments would be enabled. Is this correct?

[2020-01-27 06:57] chabashilah opened #314 "Adds impl Tokonizable for Bytes"
Hi,

I wanted to use Bytes type as a return value from smart contract calling but I got a following error.

[code]

I send a PR to deal with the issule. Could you check #313 ?

[2020-01-27 09:08] tomusdrw commented on #314
Closed via #313

[2020-01-27 09:08] #314 closed

[2020-01-27 12:01] tomusdrw opened #316 "Incorporate cargo deny into CI"
https://github.com/EmbarkStudios/cargo-deny
To automatically check licenses of dependencies.

[2020-01-28 01:00] brockelmore commented on #312
Based on my testing - new version is almost there, but is functional with this package as is. New ethabi version is a little unstable for tuple support but generally will work fine for uncomplicated usage of tuples. I think it would be fine to include new version here as I do in my fork (but a further edited ethabi to hotfix a few issues but not all of them from main ethabi). If you need support n

[2020-01-29 08:25] nlordell opened #317 "Transaction Signing"
@tomusdrw I see that the transaction signing was removed because of licensing issues with `ethsign`. I’m very sorry that I didn’t even think to check the license (as it was my contribution).

Would you be willing to accept a PR that implements this using libsecp256k1 directly? It is under MIT (https://github.com/bitcoin-core/secp256k1/blob/master/COPYING) and the rust bindings CC0 (https://github.

[2020-01-29 09:23] tomusdrw commented on #317
@nlordell Yes, I'm willing to bring back the account support as I've mentioned in the PR.

No need to apologize, I suggested using the libs myself (being an author of both) and completely forgot about mismatching license.

Another avenue might be attempting to relicense `ethsign` to a more permissive license, but I need to check feasibility of that option.

[2020-01-29 10:21] nlordell commented on #317
I looked through the dependencies and it looks like it uses `parity-crypto` which also is licensed under GPL3, I imagine that would complicate things a bit.

[2020-02-01 04:23] simplespy opened #320 "Sign data with private key"
Is there any function the same as eth.accounts.sign(data, private_key) in javascript-web3?

ref: [https://web3js.readthedocs.io/en/v1.2.0/web3-eth-accounts.html#sign](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-accounts.html#sign)

[2020-02-01 10:14] tomusdrw commented on #320
There used to be, see #279 However for now it was removed due to mismatching license.

You can use https://github.com/tomusdrw/ethsign or https://github.com/golemfactory/golem-unlimited/tree/release/0.2/ethkey to handle private keys (but note the license is GPL for those libraries).

[2020-02-01 10:14] tomusdrw commented on #320
please track #317 for details.

[2020-02-01 10:14] #320 closed

[2020-02-04 00:05] simplespy opened #321 "simple_storage example didn't change the state"
I tried to simply clone the whole project and run `cargo run --example simple_storage`, but the output was `0 0` for two get queries.
Is there any way to get the receipt from the call method if we want to check the result of `call`?

[2020-02-11 11:40] #317 closed

[2020-02-11 12:28] #316 closed

[2020-03-04 15:14] steven-gong-artos commented on #301
Hi @tomusdrw and @chabashilah,
Is there any update on this?
Thanks

[2020-03-10 14:29] barollet commented on #146
Hi do you have any news on tokio migration from tokio_core ?

[2020-03-12 01:38] botika commented on #146
I could not make any progress, I spent 2 months in jail, you know "Arriba España!", and lost the job and with it, the interest in this project. Sorry!!

Thanks for your work

[2020-03-23 12:32] cezhang52111 commented on #321
I get the same problem. Hope it can be fixed.

[2020-03-24 20:31] WyseNynja commented on #146
Related: https://docs.rs/ethcontract/0.5.0/ethcontract/

[2020-03-25 03:00] cezhang52111 opened #334 "The contract call() function does not change the state of the contract"
I have tried the call function with different contracts. Though there is no error or warning during the execution, the contract state has not been changed.
For example, in the example `simple_storage`:
[code]
After running this line, the state is not changed to 42. And the result with
[code]
is still 0.

[2020-03-31 14:08] brockelmore opened #335 "Transaction index Uint different in Transaction and Log"
Transaction index for a transaction type is `Option<U128>` but for a log is `Option<U256>`. These should be consistent

[2020-03-31 14:25] tomusdrw commented on #335
PR welcome!

[2020-03-31 14:30] brockelmore commented on #335
Do you have a preference if its one way or another? I lean toward U256 but dont really care

[2020-03-31 14:31] tomusdrw commented on #335
it's `index` so it means it's bound by regular computer memory anyway, I would even go as far as making it `U64` if that type is available. There should be `U64 -> U128 -> U256` conversions in place anyway, right?

[2020-03-31 14:34] brockelmore commented on #335
On log, its a straight `Option<U256>` - no Index. I will update Index to be type U64 and push log to be Index if that is what you think is best?

[2020-03-31 14:44] tomusdrw commented on #335
Sounds good!

[2020-04-02 08:38] tomusdrw commented on #335
Closed via #336

[2020-04-02 08:38] #335 closed

[2020-05-11 13:27] fleupold opened #342 "Eth::block() not working for BlockNumber::Pending"
The following example code:

[code]

Fails with the following error:

The problem seems to be that the RPC response for a pending block (parity client) contains `null` for `logs_bloom` (512 hex characters = 2048 bit) and this field is not optional on the [`Block` struct](https://github.com/tomusdrw/rust-web3/blob/de125d11d9260c743371e98f18fcec69081e81cd/src/types/block.rs#L89).

Is there a reason

[2020-05-11 13:55] tomusdrw commented on #342
The `Block` struct in `rust-web3` was based on the one returned by Parity Ethereum, but it was a long while ago. Seems that this change: https://github.com/openethereum/openethereum/pull/8281 was not reflected in `web3` copy of the `Block` struct.

I think we should just change the `logs_bloom` to be an `Option`, PR welcome :)

[2020-05-12 12:46] #342 closed

[2020-05-12 19:49] fredfortier opened #344 "Encapsulate filter streams"
I need encapsulate filters into iterable functions instead of executing business logic inside closures as illustrated in the examples. Here is roughly what I'm trying to do (this assumes `futures=0.3` and the `async-stream` crate). This code does not compile obviously.
[code]
What's a clean way to achieve the equivalent without async-stream?

[2020-05-12 21:33] fredfortier commented on #310
@tomusdrw Are you still working on a release using the latest futures?

[2020-05-14 22:08] #285 closed

[2020-05-21 02:06] #344 closed

[2020-05-21 19:19] Vypo commented on #224
I've been hacking in [support for signing transactions in the `Contract` API][0], and ran into this issue.

My [naive approach][1] doesn't seem to work, so I'm wondering if there's been any progress on this?

[0]: https://github.com/Vypo/rust-web3/blob/07f7671ee77c2c2d20036598b1d448ba761c3bfb/src/contract/mod.rs#L109
[1]: https://github.com/Vypo/rust-web3/blob/07f7671ee77c2c2d20036598b1d448ba761c3

[2020-05-22 07:55] tomusdrw commented on #224
@Vypo your solution looks reasonable, why it doesn't seem to work? Note that the value you get is just an estimation, and it might change (even significantly) depending on the actual state it's executed against. In the past usually the idea was to bump the estimate by at least 10% - even if you overestimate there is no extra costs involved, since the unused gas is refunded.

[2020-05-22 08:25] tomusdrw commented on #310
@fredfortier hey! started working on latest future migration few days ago, stay tuned.

[2020-05-22 17:21] Vypo commented on #224
@tomusdrw It seems odd that I have to manually add the 32,000 gas (I assume for contract creation), and even with a 10% overestimate, it still fails. I keep playing with it I guess.

[2020-05-25 11:02] tomusdrw commented on #224
@Vypo ah, sorry. I just realised that you are setting `to` to some address - that won't measure contract creation gas cost, but rather a call to that contract. There has been a change recently to `CallRequest` type and it should now handle contract creation case as well, see #348

[2020-05-27 12:37] tomusdrw commented on #17
We should rather use `ethabi_derive` and make it more ergonomic to call using `web3`, see #120

[2020-06-09 15:37] tomusdrw commented on #303
PRs welcome! :)

[2020-06-09 15:37] #286 closed

[2020-06-09 15:37] tomusdrw commented on #301
requires `-b <time>` flag to `ganache-cli`.

[2020-06-09 15:37] #301 closed

[2020-06-09 15:38] #238 closed

[2020-06-09 15:39] tomusdrw commented on #210
Probably out of scope. There is many additions the library gives on top of the raw client.

[2020-06-09 15:39] #210 closed

[2020-06-15 14:11] #321 closed

[2020-06-16 22:22] That3Percent commented on #17
I'm working on something similar here - [solidity-bindgen](https://github.com/graphprotocol/solidity-bindgen)

It's not yet well documented, or in any sort of publishable state but you can do something like `solidity_bindgen::contract_abis!("../contracts/build/abis");` where the path given is a relative path to a directory containing abis. It will spit out structs for each contract with an async m

[2020-06-16 22:24] That3Percent commented on #169
There is a separate crate which may fit the bill here: [eip-712](https://crates.io/crates/eip-712)

[2020-06-18 06:51] gakonst commented on #169
Doesn't that conflict with the library's MIT license?

[2020-06-18 09:05] tomusdrw commented on #169
@gakonst Correct, the crate mentioned here can't really be included in `web3`, but you are fine to build a GPL-3.0 project that uses both `web3` and `eip-712` to achieve what you need.

[2020-06-18 09:06] tomusdrw commented on #17
@That3Percent cool stuff! Keep us informed on the progress. Would be cool if it supported an API that would allow easy integration with `web3`.

[2020-06-26 10:00] tomusdrw opened #361 "Get rid of Unpin requirements."
We should attempt to rewrite the library to avoid having transports require `Unpin` outputs.

[2020-06-30 10:08] e00E opened #362 "v0.12.0: rust-web3 futures only works on the Tokio runtime"
Modify `examples/contract.rs`:

[code]

Run the example: `cargo run --example contract`

The stacktrace shows that this is likely because of using hyper.

Most importantly this should be documented.
Then I argue that rust-web3 should be runtime agnostic because it is very limiting for a library to only work with a specific runtime. Consumers of the library should not be forced to use the same runt

[2020-06-30 10:56] tomusdrw commented on #146
This should be done now.

[2020-06-30 10:56] #146 closed

[2020-06-30 10:58] tomusdrw commented on #303
Another reason to use `reqwest` or some alternative http client library would be to get rid of `tokio` runtime dependency. See #362

[2020-06-30 11:00] tomusdrw commented on #362
I 100% agree with the sentiment that the library should be runtime agnostic, as you can check in `Cargo.toml`, we don't depend on `tokio` directly. Unfortunately `hyper `has a hard-dependency on `tokio` runtime and there is no way around it afaict. (The `runtime` feature just disables the convenient way of creating the default runtime).

I've reworked and documented features in #363 replacing `hyp

[2020-06-30 11:18] e00E commented on #362
Thanks for your response and your work on rust-web3. To be clear, I don't have a problem with the library depending on tokio, just that the runtime shouldn't be required to execute the futures. From looking through the (closed) hyper issues mentioning runtime or async-std I do think it's possible to use it without the tokio requirement but whether that is better or using a different http library I

[2020-06-30 12:26] #362 closed

[2020-07-02 16:33] That3Percent commented on #169
Dismayed by the licensing, I went ahead to build a replacement for the GPL licensed `eip-712` crate that is MIT licensed and is based on structs instead of JSON. It's not yet batteries included, but you can see examples of how to use it in the tests section.

[https://github.com/graphprotocol/eip-712-derive](https://github.com/graphprotocol/eip-712-derive)

Example usage:

[code]

[2020-07-03 09:43] yulidai opened #364 "Can't get transaction information in time"
After sending a transaction and being mined, it takes a long time (approximately half an hour) to get the Transaction by using `web3.eth().transaction(tx_hash.into())`. However, using `curl` directly can get it immediately, the query nodes are all infura.

Does rust-web3 need to confirm the block height before returning the value? If yes, how to cancel the default behavior?

the version is `v0.12`

[2020-07-03 09:56] tomusdrw commented on #364
@yulidai no, the `Eth::transaction` method does not include any confirmations. We just take the `hash` and issue `eth_getTransactionByHash(<hash>)` RPC method.

Perhaps Infura has some cache for particular clients? I.e. checking with `curl` ends up getting a non-cached response, vs `web3` receiving an old, cached one?

One other option I see is that there are some headers that we could include in

[2020-07-03 11:04] yulidai commented on #364
Sorry I used the wrong node address, it should be the problem of node `https://rpc.slock.it/goerli`

[2020-07-03 11:04] #364 closed

[2020-08-03 16:34] vorot93 opened #367 "WebSocket support should be runtime-independent"
Right now it requires async-std, but in mere executor capacity. Maybe employ this approach?

https://github.com/paritytech/jsonrpsee/pull/102

[2020-08-04 12:56] lclc commented on #303
Using reqwest would also allow to get rid of OpenSSL as dependency and use rustls-tls instead.

[2020-08-07 14:50] #367 closed

[2020-08-07 14:51] tomusdrw commented on #367
Addressed by compilation features, I think it's more elegant, since some dependencies are not capable of simply switching between runtimes at the run time (i.e. they have compilation features as well).

[2020-08-20 09:53] ulrichard opened #369 "Connect through a proxy if environment variables are set."
It would be nice, if a connection was established through proxies as specified in the env vars: http_proxy, https_proxy, HTTP_PROXY or HTTPS_PROXY
It looks like hyper has support for it, but requires the client to read the env vars.

[2020-08-24 04:04] whizsid commented on #369
I would like to work on this feature.

[2020-08-24 08:11] tomusdrw commented on #369
@whizsid Great! Seems there is an example here: https://github.com/hyperium/hyper/blob/master/examples/http_proxy.rs

[2020-08-24 09:48] whizsid commented on #369
@tomusdrw I took another approach. But I would like to accept your suggestions.

[code]

May I continue with this approach? or with the above example?

[2020-08-24 09:50] tomusdrw commented on #369
@whizsid Yup, looks good!

[2020-08-25 06:53] #369 closed

[2020-09-03 16:14] bkolad opened #373 "Web3 blocks with low count of tokio threads"
Web3 runs fine with the following tokio settings: `#[tokio::main]` but it blocks indefinitely with
`#[tokio::main(max_threads = 4)]` or `#[tokio::main(core_threads = 40, max_threads = 40)]`

[2020-09-04 04:12] tomusdrw commented on #264
Closed via #351

[2020-09-04 04:12] #264 closed

[2020-09-04 04:13] tomusdrw commented on #334
Closed via #351

[2020-09-04 04:13] #334 closed

[2020-09-04 04:13] tomusdrw commented on #182
Closed via #351

[2020-09-04 04:13] #182 closed

[2020-09-04 04:27] tomusdrw commented on #373
@bkolad any particular transport?

[2020-09-04 08:17] bkolad commented on #373
@tomusdrw it is `web3::transports::Http`

[2020-09-04 09:08] tomusdrw commented on #373
Would you mind testing with `Ws` as well? I checked the code but there is nothing fancy we do that would cause such behaviour and I feel tempted to blame `hyper`.

[2020-09-13 13:55] bkolad commented on #373
I confirm it works with `Ws`, thx.

[2020-09-15 02:14] sammy1991106 opened #375 "Is the `trace_*` JSONRPC module ready for production?"
It's just a quick question about the `trace_*` jsonrpc module. Is it ready for production? I see the code in the repo, but it's not checked in the README under API section.

[2020-09-15 08:37] tomusdrw commented on #375
It's been a while since I looked at the `trace_` API, but I suspect that it's only Parity / OpenEthereum compatible, it has not been tested against Geth and some APIs are most likely missing.

Cross checking the API and identifing missing methods would be a really awesome contribution.

[2020-09-15 08:37] tomusdrw commented on #243
Closing as stale.

[2020-09-15 08:37] #243 closed

[2020-09-15 08:40] tomusdrw commented on #266
The nodes handling private keys is not secure and is not going to be supported going forward. I think since then we now have signing API support at web3. If not, take a look at https://github.com/tomusdrw/ethsign

[2020-09-15 08:40] #266 closed

[2020-09-15 15:08] sammy1991106 commented on #375
@tomusdrw Will do and will get back to you here.

[2020-10-02 22:28] ksato9700 opened #381 "txpool Namespace support"
Is there a plan to support txpool namespace methods? If not, can I work on it?
https://geth.ethereum.org/docs/rpc/ns-txpool

[2020-10-10 07:25] creese opened #383 "Rust Client Returns "Abi error: Invalid data""
I'm building a Rust client to interact with a smart contract on Ethereum. The contract works, but there seems to be an issue with the client.

I am building from this example:
https://github.com/tomusdrw/rust-web3/blob/master/examples/contract.rs

The contract has been deployed to Ganache and prepared via truffle console to the proper state. Running the client script should print a value of 100 (o

[2020-10-10 15:41] creese commented on #383
The contract was compiled with solc 0.6.12.

[2020-10-11 02:20] creese commented on #383
I'm trying to remove Truffle from the workflow. This attempt deploys a bare bones smart contract using only solc and rust-web3. The Rust client is able to get all the accounts. However, the deploy do not succeed. The code, artifacts, and log output appear below.

contracts/src/HelloToken.sol
[code]
[code]
target/contracts/HelloToken.abi:
[code]
target/contracts/HelloToken.bin:
[code]
main.rs:
[cod

[2020-10-11 05:28] tomusdrw commented on #383
@creese Isn't Solidity constructor non-payable by default? Have you tried deploying with `value = 0` or adding an explicitly payable constructor?

[2020-10-11 05:44] creese commented on #383
I set `value` equal to zero. (Thanks for that.) The contract appears to deploy but the query still fails. I seem to be back to "Abi error: Invalid data".

[code]
[code]

[2020-10-11 05:52] tomusdrw commented on #383
@creese I don't see the query being made in the logs, I suspect the RPC response is `0x` or something.
Are you sure that with `0` confirmations the contract is actually deployed before the `contract.query` RPC call is being made? No contract yet would explain incorrect response.

[2020-10-11 06:07] creese commented on #383
No, I'm not sure the contract is deployed. When I set `confirmations` equal to `1`, the script never finishes.

[2020-10-11 06:08] creese commented on #383
Unfortunately, I can't show the logs. There is an unrelated issue with Ganache. It doesn't let me set a log file directory.

[2020-10-11 06:47] creese commented on #383
This is the value of `contract` with zero confirmations:
[code]
When I set `confirmations` equal to one, the future never completes and the value of `contract` is never printed.

[2020-10-11 06:54] creese commented on #383
Here are the logs following the request to get the account addresses:
[code]

[2020-10-11 07:15] creese commented on #383
This function queries a hard-coded contract address without deploying:

lib.rs:
[code]
[code]
[code]

[2020-10-11 17:36] creese commented on #383
I got it work. The arguments to `contract.query()` were wrong.

For my contract, the correct invocation is:
[code]

[2020-10-12 07:40] tomusdrw commented on #383
Ah, good catch, I didn't see that. I think we could detect in the ABI that the function doesn't expect any parameters and warn (or even error out) if the user tries to pass a non-empty parameter list, wdyt?

[2020-10-13 16:42] creese commented on #383
Absolutely! If we can compare the full type signature that would be even better.

[2020-10-13 16:42] #383 closed

[2020-10-14 09:33] vorot93 opened #384 "Abstract the Delay away"
`futures-timer` is a runtime on its own: it spawns a helper thread to keep track of its timers. Consequently this is highly inefficient when we have e.g. Tokio runtime that provides timer facilities on its own and runs them on its own threads.

[2020-10-17 22:53] creese opened #390 "Getting Events from Transaction Receipts"
I would like to use the `events` method to get an event from a transaction receipt. I can get the transaction receipt all right, but when I try to get event data, I see the familiar `Abi error: Invalid data` result. What is the right way to use this method? I couldn't find any tests or examples.

This is the ABI for the event I want:
[code]

This is the transaction receipt. The event I care about

[2020-10-18 03:49] creese commented on #390
I was able to get it working by borrowing from the implementation of `web3::contract::Contract::events`.
I'm still not sure why I couldn't use the method directly. Could there be a type mismatch that only shows at runtime?

Here my solution:
[code]

[2020-10-18 09:22] chriamue opened #391 "Deploy contract without unlocked account"
Executing a contract function is possible using [signed_call_with_confirmations](https://github.com/tomusdrw/rust-web3/blob/96d0ab9e4435b36a7ba47a8ef67d24db325c2a67/src/contract/mod.rs#L156) in combination with a private key.
There is no equivalent for deploying a contract without unlocked account yet.
Please add a deployment function that allows signation with a private key, so it is possible to

[2020-10-23 12:15] e00E opened #393 "FilterStream violates Future contract by potentially polling a completed future"
I noticed this in one of the async rewrites (which also fixes the problem). This issue is for documentation purposes.

The line
https://github.com/tomusdrw/rust-web3/blob/2c33873488cbf9a27bf38d665138b227521bf51a/src/api/eth_filter.rs#L83
applies the `?` operator to the completed result of the inner future. If this result is ok then there is no bug. If the result is Error we forward the error as pa

[2020-10-23 12:40] tomusdrw commented on #393
Good catch, I probably broke it when moving to latest futures, previously the stream could error out as well.

[2020-10-27 10:34] e00E opened #396 "Add additional checks to block filter during confirmation"
https://github.com/tomusdrw/rust-web3/blob/8be891569c83e6f174bf7994ba36051c79858d32/src/confirm.rs#L66 should have additional checks:
* We should not continue calling next on a stream that has completed (has returned None). We expect this to never happen for the blocks filter but to be safe we should handle this case for example by `fuse`ing the stream or
 erroring when it does complete.
* We do n

[2020-10-27 10:37] e00E opened #397 "Do not unwrap transaction receipt during confirmation"
https://github.com/tomusdrw/rust-web3/blob/8be891569c83e6f174bf7994ba36051c79858d32/src/confirm.rs#L277 should not `expect`. No matter what happens inside the node, this shouldn't be a panic.

Could convert this into some error. InternalError probably makes sense but then we cannot provide the error message. Maybe make new error for this? Or allow InternalError to carry a message.

[2020-10-27 10:48] #393 closed

[2020-11-03 14:37] sinkingsugar commented on #303
I might give it a go.

I'm facing a hard choice, my native code uses rust-web3 but I now need to run it on the web via WASM. I'm trying to understand if it's worth to use JS web3 and reimplement the abstraction on top of it in c++/wasm, or contribute here to add WASM support (and use my existing code as is).

Any other blocker towards a WASM build that you guys might think of?

[2020-11-03 14:54] tomusdrw commented on #303
@sinkingsugar that's awesome! Happy to help if needed. If I were you, I'd start off with `no_std` compilation without any transports to make sure that all dependencies do support that and only then attempting to implement the transport layer (which should rather be straight forward).

[2020-11-03 14:59] sinkingsugar commented on #303
Thanks, I'll definitely open a draft PR if I get going.
True, that's a good idea, also assessing the `no_std` situation should not really consume so much time.

[2020-11-05 03:09] creese commented on #134
I tried `use web3::helpers::tests::TestTransport` but I'm getting an unresolved import error. Why doesn't this work?

[2020-11-05 11:47] tomusdrw commented on #134
The entire `tests` module is gated with `#[cfg(test)]` which means it's only compiled when tests for `web3` crate are running (the tests running on your crate that depends on `web3` does not inlcude this code).

My earlier suggestion was to extract `TestTransport` to `web3::transports` module and expose it from there, adding a Cargo `feature` for the test transport (just like we have `http` and `w

[2020-11-13 04:17] yq0810 commented on #342
I use the same command(block(BlockNumber::Pending.into())) in infura and have the same error

using
https://github.com/tomusdrw/rust-web3/commit/f68b3a1bb63669fc2e3baf189dc91f9b5f0ef110

[2020-11-13 04:22] yq0810 opened #404 "Eth::block() not working for BlockNumber::Pending"
```web3.eth().block(BlockNumber::Pending.into())```
in infura and have the similar error https://github.com/tomusdrw/rust-web3/issues/342
```Err(Decoder("Error(\"invalid type: null, expected a 0x-prefixed hex string with length of 40\", line: 0, column: 0)")) ```
using commit
https://github.com/tomusdrw/rust-web3/commit/f68b3a1bb63669fc2e3baf189dc91f9b5f0ef110

Working after modification
https://g

[2020-11-17 11:25] elpiel opened #408 "Export ethabi items"
It will be very nice to export used `ethabi` items like `ethabi::Error` which is used in the `Contract::from_json` method

Why? Now you **must** add `ethabi` as dependency if you want to use this method and handle the `Error` gracefully (i.e. using it in your own Error type)

Reason: No added dependencies if you need to use it

https://tomusdrw.github.io/rust-web3/web3/contract/struct.Contract.htm

[2020-11-17 11:31] tomusdrw commented on #408
Yeah, makes sense to me. Let's re-export the entire `ethabi` crate in the top-level.

[2020-11-17 12:36] #408 closed

[2020-11-17 17:48] jrhea opened #410 "Support for recieve function"
I get this error:

[code]

when interacting with a contract that contains the `recieve()` function.  This PR openethereum/ethabi#187 was opened to add support, but progress seems to have stalled.  I am opening this issue for awareness so that once openethereum/ethabi#187 is merged and a new release is made, this repo can update it's ethabi dependency.

[2020-11-20 22:15] EdsonAlcala commented on #151
@tomusdrw I would like to do this. Can you mentor me on the topic to get started ?  Thanks !

[2020-11-24 15:43] elpiel opened #412 "Inconsistency in README regarding versioning"
First of all - great project! We use it on production and it's amazing the work that you've done so far!

I saw that the README is quite inconsistent on how to include it as a dependency.

[code]

Later on there is windows specific installation with `0.11.0` version:

[code]

I guess that the latest stable tagged version `0.13.0` should be used?
Would be great to have crates.io badge with version

[2020-11-24 19:30] tomusdrw commented on #151
@EdsonAlcala great! To be frank, I'm a bit out of the loop with the latest state of rust async runtimes, but after a brief search I couldn't find a runtime-agnostic way of using timeouts, so I guess we need to use two different crates depending on the feature set (`async_std` and `tokio`):
For `tokio`:
https://docs.rs/tokio/0.3.4/tokio/time/fn.timeout.html
For `async_std`:
https://docs.rs/async-st

[2020-11-24 19:33] tomusdrw commented on #412
Yup, `crates.io` is recommended, I don't have a fixed release schedule though, so it's more on-demand :)

A badge would be nice indeed, PRs welcome! :)

[2020-11-25 08:31] EdsonAlcala commented on #151
ok, checking this !

[2020-11-26 10:46] #412 closed

[2020-11-27 05:36] enolan commented on #303
I have a `Transport` that uses EIP-1193, so you can interface with MetaMask in the browser. Should have a PR soonish. If you want your app to work without a browser extension, you can use a JS library that implements the EIP-1193 interface and makes calls to Infura or whatever using the normal browser APIs. It'd be a bit roundabout, but is less work than switching HTTP libraries.

[2020-11-27 09:47] tomusdrw commented on #303
@enolan wow, that's awesome! Super excited for the PR, thanks! :heart:

[2020-11-29 09:58] lsunsi opened #415 "IPC support missing"
I know it was removed recently, but since I'm interested on IPC support and I was left wondering why and how could we get it back, I decided to open this issue up so we can discuss.

What do we need to get the IPC support back?
I'm willing to help if I can.

[2020-11-29 10:15] tomusdrw commented on #415
Previously the IPC support was built using [`tokio-uds`](https://crates.io/crates/tokio-uds/0.2.7), but afaict it stil hasn't migrated to new futures (and possibly it never will, cause afaict there is `UnixStream` within `tokio` directly now).

So the transport needs a complete rewrite either using [`UnixStream`](https://docs.rs/tokio/0.3.4/tokio/net/struct.UnixStream.html) (*nix only) or somethin

[2020-12-03 03:01] manxiaqu opened #416 "Test stuck at send_raw_transaction"
The test code is stuck at send_raw_transaction, it seems the rpc request isn't actually send to my local node, I didn't say any request info from console:
[code]
But it works fine that calling send_raw_transaction at tokio main function in example.
[code]
Am I miss something Or misconfigure something?

cargo.toml
[code]

[2020-12-04 12:36] tomusdrw commented on #416
have you tried `result.await` instead of spawning yet another (non-tokio) executor ('futures::executor::block_on(result).unwrap();')?

[2020-12-04 23:00] fredfortier opened #417 "Solidity u96"
I don't see tokenizable u96 semantics neither in `ethereum-types` or in the Rust types. Is u96 supported in some way?

[2020-12-05 03:46] manxiaqu commented on #416
Thanks! `result.await` works. But I don't know the reason why it can't work with futures::executor::block_on

[2020-12-07 09:53] tomusdrw commented on #416
`futures::executor_block_on` spawns a new runtime instance and `web3` futures with http transport can only be spawned on either `tokio` or `async-std` runtime (depending on the feature selected).

[2020-12-07 09:53] #416 closed

[2020-12-07 09:59] tomusdrw commented on #417
Not that I know, but it should be trivial to add. Is the type commonly used?

[2020-12-12 15:26] mdben1247 opened #421 "Async web3::contract::Contract::query for Batch Transports"
Hi, before `v0.14.0` one could call something like `let _ = contract.query(...);` for contracts that had batch web3 transport to queue the request that was later sent with `submit_batch()`. But, if I understand correctly, the new async version of `web3::contract::Contract::query` wouldn't do anything unless it was called with `web3::block_on`. And even then, the return value of the query function

[2020-12-13 08:22] mdben1247 commented on #421
I did some testing and indeed, using batch transport with contracts seems to be broken in `v0.14.0`. The issue is that all contract functions are now `async`, so they don't get executed at all to push the request on batch list. If you block on them then you have another problem: you can't execute them later to collect results after submitting the batch. The workaround is to rewrite the functions t

[2020-12-14 15:04] Lanjiejie opened #422 "How to send a transaction signed with privatekey"
I want to send a transaction signed with privatekey. And I try to do like this :
[code]
It gives back a SignedTransaction struct, but I don't know how to send it. Could anybody help me? Please give me an example

[2020-12-14 22:59] lsunsi commented on #415
@tomusdrw I'm currently working on a implementation using the UnixStream from Tokio for the IPC transport based on the current WebSocket and old IPC implementations. You can expect a pull request about this in a couple weeks, or maybe less.

[2020-12-16 10:08] lsunsi commented on #415
@tomusdrw Awesome! Now we're probably going to add the batch transport, or at least the duplex one (because we need it in our project). haha.

[2020-12-16 10:10] tomusdrw commented on #415
Looking forward to! :)

[2020-12-16 10:10] #415 closed

[2020-12-16 10:11] tomusdrw opened #425 "IPC batch transport support"
follow up on #415 and add `BatchTransport` implementation.

[2020-12-16 10:12] tomusdrw opened #426 "IPC duplex transport support"
Follow up on #415. Add `DuplexTransport` implementation for IPC.

[2020-12-16 10:13] tomusdrw commented on #422
This should be RLP encoded and passed to `Eth::send_raw_transaction`. Happy to accept a PR with example showing how to use it or some API change.

[2020-12-16 10:15] tomusdrw commented on #421
Why not just spawn & forget the future after you receive it? With `async-await` support I'm a bit hesitant to return complicates things like `Result<impl Future<Output=Result<_, _>>, _>` cause it feels very error prone.

[2020-12-16 10:15] tomusdrw commented on #404
Fixed in #405

[2020-12-16 10:15] #404 closed

[2020-12-16 21:40] lsunsi commented on #426
@tomusdrw We have a pull request for this one ready to go, we're just waiting on the #427 first to avoid conflicts.

[2020-12-17 09:44] mdben1247 commented on #421
You cannot spawn and forget. If we take a look at `examples/transport_batch.rs` , it uses the following batch pattern:
[code]
This example by works well, however it doesn't work anymore if you replace `eth.accounts()` with `contract.query()` or any other contract web3 function call. The difference is `contract.query()` is fully async and no part of the code gets executed until `await` is called. B

[2020-12-17 15:53] #425 closed

[2020-12-17 20:09] #426 closed

[2020-12-18 09:29] tomusdrw commented on #421
@mdben1247 I see, indeed that's a serious problem I haven't thought of it and we don't really have a detailed test case for this. I'll try to fix this over the weekend.

[2020-12-18 10:12] mdben1247 commented on #421
@tomusdrw Thanks. As proposed in my `query()` workaround above, all contract async functions could be made partially async, then the batch pattern works. However, I don't consider myself enough of an expert here, I am not sure whether this is really the best solution.

[2020-12-18 12:57] mdben1247 opened #430 "Websocket performance degradation after v0.11.0"
We are experiencing quite a large, about an order of magnitude performance degradation in Websocket performance in various applications going from `v0.11.0` to `v0.12.0` . It can be observed comparing the run times of a simple test:

[code]
or for `v0.11.0`:
[code]
All versions after `v0.11.0` are affected, tried testing with `v0.12.0`, `v0.13.0` and `master`. Looking at changes, it seems the back

[2020-12-21 09:21] mdben1247 commented on #430
Timing each individual request with:
[code]
shows requests normally finish in sub-millisecond range for both old and new version, however with `v0.12.0` and forward there are almost regular hiccups every 20 or so requests, where a single request stands out with 40ms or more to complete. Attached timings as measured.

[v011.txt](https://github.com/tomusdrw/rust-web3/files/5723419/v011.txt)
[v013.tx

[2020-12-21 09:28] elpiel opened #432 "Possible regression from 0.13 to 0.14"
We have a test that started failing after upgrading to `0.14` that was working before.

The test and the failing call can be found here:
https://github.com/AdExNetwork/adex-validator-stack-rust/blob/dev/adapter/src/ethereum.rs#L591-L600

The error I get is:
[code]

Which after a quick check in the repo is found here:

0.13:
https://github.com/tomusdrw/rust-web3/blob/v0.13.0/src/contract/deploy.rs#

[2020-12-25 11:55] HackFisher opened #436 "Build failed on windows"
Details info:

https://github.com/darwinia-network/bridger/pull/96/checks?check_run_id=1608195005#step:4:1483

https://github.com/darwinia-network/bridger/pull/96/commits/f60ed281b34c550665998666f55ac235553105c8#diff-13ee4b2252c9e516a0547f2891aa2105c3ca71c6d7a1e682c69be97998dfc87eL5400

[2020-12-26 10:32] tomusdrw commented on #436
@HackFisher IPC transport is not supported on windows, please disable it within your build as detailed in the README. Previous release didn't have IPC at all, so it did work with default features, but git version has IPC transport back.

[2020-12-26 10:32] #436 closed

[2020-12-28 12:45] mdben1247 commented on #430
A fix for the naive test above is to set `stream.set_nodelay(true)` in `src/transport/ws.rs`. See:
https://doc.rust-lang.org/std/net/struct.TcpStream.html#method.set_nodelay

This send small messages immediately without waiting, and I think it should be the default, since is quite necessary for the real-time purposes here - many times the process will wait for web3 response, since execution depend

[2020-12-28 13:29] mdben1247 commented on #430
This is not correct, I made a mistake. I am happy to report that `set_nodelay(true)` completely solves performance problems both in the naive test and our production. If anything, the newer versions are now somewhat faster that `v0.11.0`.

Should I make a pull request or is the fix obvious enough?

[2020-12-28 15:52] tomusdrw commented on #430
@mdben1247 great to hear you indentified the culprit. Please make a PR, happy to review and merge.

[2021-01-03 14:46] mohoff opened #440 "support for `eth_pendingTransactions`"
Hi, it seems that the call `eth_pendingTransactions` is currently not supported, while getting a pending block is supported via `block(BlockNumber::Pending.into)` as #404 claims. [A stackoverflow answer ](https://ethereum.stackexchange.com/a/6725) suggests that `eth_pendingTransactions` is Geth specific and thus maybe the reason why it isn't supported here?

If mistaken, I can give the implementat

[2021-01-03 20:10] tomusdrw commented on #440
hey! Happy to accept the PR, the library was originally based on Parity's/OpenEthereum's RPCs, but tries not to be biased towards any particular client (if it's within the RPC spec).

[2021-01-05 07:25] mohoff commented on #440
Thanks @tomusdrw . I researched a bit more and found that getting pending transactions is not part of the [standard JSON RPC API](https://eth.wiki/json-rpc/API) but can be found under different names in client-specific calls:

- geth: [`txpool_content`](https://geth.ethereum.org/docs/rpc/ns-txpool#txpool_content). Already supported [in `api/tx_pool.rs`](https://github.com/tomusdrw/rust-web3/blob/b

[2021-01-05 10:34] tomusdrw commented on #440
Might be some historical reasons, or for instance compatibility with Ganache?

Yes, I like the idea.

If you mean to support Ganache for instance - sure, but please make sure that's the case and we need to document it properly. If you mean to have a call that will attempt to unify Geth and OpenEthereum behaviour - then no, I'd like to keep the APIs as close to the spec and low-level RPCs as possib

[2021-01-05 20:52] justindthomas opened #442 "Get bytes from Contract builder"
I'm trying to piece together how I can deploy a contract from bytecode and ABI using the private key to sign the transaction (i.e., without requiring that the account and key be stored on the Ethereum node). I think I can use `send_raw_transaction` to do it using the `rlp` crate to encode the data.

But I can't find a way to build the Contract with arguments and get its bytes without actually exec

[2021-01-05 22:16] tomusdrw commented on #442
Indeed, deployment using a signed account is not really supported, it shouldn't be that hard to add though. Take a look at:
https://github.com/tomusdrw/rust-web3/blob/a0c18680646828df5c70500c7de28bedfa609f9f/src/contract/mod.rs#L288

and it needs to be plugged somewhat like this into the `deploy` pipeline:
https://github.com/tomusdrw/rust-web3/blob/a0c18680646828df5c70500c7de28bedfa609f9f/src/cont

[2021-01-05 22:56] justindthomas commented on #442
That's great - thank you for the detailed advice. I'll see if I can put something together.

[2021-01-05 23:09] justindthomas commented on #442
Am I reading this correctly that `do_execute` is already set up to handle parameters when deploying the contract?

https://github.com/tomusdrw/rust-web3/blob/a0c18680646828df5c70500c7de28bedfa609f9f/src/contract/deploy.rs#L136

[2021-01-05 23:12] tomusdrw commented on #442
Yes, I think so.

[2021-01-06 12:57] lsunsi opened #445 "Update tokio to 1.0"
It's a major first release which the whole ecosystem is supporting, so we should probably follow suit in order to provide better compatibility for web3 users.

I realise we can't 'just upgrade' due to underlying packages, so I'll make a list of packages that require tokio and can be upgraded and the ones that are blocking our upgrade.

###### Already updated
- hyper (v0.14)
- hyper-tls (v0.5)

###

[2021-01-07 16:56] #430 closed

[2021-01-11 03:13] algorithmicbtc opened #447 "Is there the implementation of "abi.encodePacked" in solidity?"
I can't find any related code in docs.rs.

[2021-01-11 11:00] tomusdrw commented on #447
@algorithmicbtc This is is something that `ethabi` should be dealing with (see https://github.com/rust-ethereum/ethabi), but having seen this: https://github.com/rust-ethereum/ethabi/issues/179 I believe it might not be implemented.

[2021-01-11 11:00] #447 closed

[2021-01-12 02:51] algorithmicbtc commented on #447
Thank you for your advice!

[2021-01-15 08:32] elpiel commented on #432
I believe this is caused by a new line `\n` at the end of the json file we read and use in our deploy. This was working on 0.13

[2021-01-15 08:32] #432 closed

[2021-01-16 19:03] toxeus commented on #303
@enolan any status on the progress? I'm considering doing the migration to reqwest myself...

[2021-01-16 19:37] enolan commented on #303
Merged in #414 :)

[2021-01-16 20:17] toxeus commented on #303
Well done @enolan :+1: I guess this can be closed then @tomusdrw :)

[2021-01-18 09:39] olanod commented on #303
So the PR introduces WASM support but not via reqwest right? Great to have browser support, was what I was after initially but then as this issue is about reqwest should it be a won't fix or is a higher level http client(there's also [`surf`](https://github.com/http-rs/surf/)) still something people would like to see? based on the comments it would bring other benefits other than WASM support.

[2021-01-18 09:42] toxeus commented on #303
Yeah, I just realized that myself. I still see the benefit in migrating to reqwest as it supports multiple TLS crates.

[2021-01-19 12:40] mdben1247 commented on #421
This should be relabeled as a bug: async contract functions do not work properly when using batched web3 transport. If the proposed fix above seems ok, I can prepare a PR. But I am not completely confident this is the proper way to do it.

[2021-01-19 15:23] tomusdrw commented on #421
@mdben1247 totally agree, apologies for the delay. Happy to review the PR, I didn't wrap my head around it just yet (lack of time).

[2021-01-25 15:32] mohoff commented on #440
Implemented by https://github.com/tomusdrw/rust-web3/pull/451

[2021-01-25 15:32] #440 closed

[2021-01-31 11:44] rakanalh opened #457 "Support multiple filters through `logs`"
According to:

https://github.com/tomusdrw/rust-web3/blob/ab2b663b326b235bef58112b0fa5f1ae63a64a41/src/api/eth.rs#L100

The call to `eth_getLogs` takes multiple filters, but the implementation only allows 1 `Filter` to be passed. This is an issue especially when you want to query multiple ordered events by a specific contracts.

Let's say we have a contract which emits two events `Event1` and `Eve

[2021-01-31 12:35] rakanalh commented on #457
Solution: Apparently, `FilterBuilder` takes a `topics` vector.

[code]

[2021-01-31 12:35] #457 closed

[2021-02-04 20:12] Fedalto commented on #373
I'm getting this same error with both http and ws transports.
The code blocks indefinitely when trying to get the current block number.

Here's a small code that reproduces this error:
[code]

Tested on web3 0.14 and 0.15 and tokio 0.2.25.

[2021-02-19 15:18] marcbaque opened #460 "serde deserialization fails if arbitrary-precision is enabled"
If a user is using the `"arbitrary-precision"` feature of `serde`, the deserialization occurring in the following line fails:

https://github.com/tomusdrw/rust-web3/blob/11277e07fd4ebbb4209a96860cb00a0184115016/src/transports/http.rs#L193

Error returned:
`Error("data did not match any variant of untagged enum Response", line: 0, column: 0)`

Workaround:
If the user has arbitrary-precision activat

[2021-02-19 16:48] tomusdrw commented on #460
@marcbaque PRs welcome :)

[2021-02-23 22:33] #460 closed

[2021-02-25 16:20] SionoiS opened #463 "ENS api"
Hello!

I'm currently using web3.js but with WASM & ENS support, I would rather use this crate. You guys did a great job!

WASM seams to be working fine even if it's not documented anywhere and for ENS, I found this https://github.com/hhatto/rust-ens but it's 3 years old.

Could someone give me a 10,000ft overview of what would need to be done? Ethereum is new to me...

Thanks!

[2021-03-01 12:34] tomusdrw commented on #463
Can you explain a little bit more what you are trying to achieve? Using `ENS` is simply making contract calls and `rust-web3` is providing a low-level API for this. `rust-ens` is a more use-friendly wrapper for that.

[2021-03-01 15:04] SionoiS commented on #463
I think mirroring what web3.js has in term of api for ENS is what I'm looking for. Would such an api be at home in this crate or should I build another?

[2021-03-09 04:25] smessmer commented on #445
hyper-proxy 0.9.0 and async-native-tls master now support tokio 1.0

[2021-03-09 15:42] SionoiS commented on #463
See #467

[2021-03-11 01:30] frankli-dev opened #469 "Can I use this for getting balance of Ethereum mainnet wallet?"
Could anyone help me if this library can be used to get balance of Ethereum mainnet wallet, please?
If so, please attach some code snippet.
Thanks in advance

[2021-03-11 08:52] tomusdrw commented on #469
Yes, please take a look at [examples](https://github.com/tomusdrw/rust-web3/blob/master/examples/transport_http.rs#L12).

[2021-03-11 08:52] #469 closed

[2021-03-11 16:43] smessmer opened #470 "IPC transport hangs on error"
I'm running a web3 0.15.0 client against an openethereum server, and I use async/await heavily in the client. Some requests go through fine, but then I get

[code]

and the application hangs. Looking at it in gdb shows that it's waiting for a future to be fulfilled but seemst the IPC transport forgot to fulfill that future when the error happened.

Possibly related: I noticed that the IPC client h

[2021-03-11 17:01] frankli-dev opened #471 "How can I convert U256 division to float type?"
I would like to divide balance by decimals.. but it should be float. i use U256 for balance type.. how can I convert balance division to float type?
Thanks in advance

[2021-03-12 10:05] tomusdrw commented on #471
[code]
This is outside of the scope of that repo though.

[2021-03-12 10:05] #471 closed

[2021-03-12 10:37] tomusdrw commented on #470
@smessmer thanks for the report, indeed it seems we are not handling error responses correctly, can you take a look at #472 and confirm that it resolves the issue you are having?

[2021-03-14 20:47] smessmer commented on #470
Yes that seems to fix it. Thanks for the fast response :)

[2021-03-14 20:47] #470 closed

[2021-03-22 19:25] zandent opened #475 "How to pass arguments as array in contract call?"
Hi there,
I am trying to fit an array as argument for contract::call(). In solidity the input argument is "uint8[4] memory hoster_IP_addr".
I use "[1_u8,1_u8,1_u8,1_u8]" as the params for contract::call(). Then it threw "Error: Api(Decoder("InvalidData"))".
How do I pass in correct format?

[2021-03-25 05:50] soulmachine commented on #445
bump

[2021-03-25 08:49] tomusdrw commented on #445
@soulmachine the PR is pending in #454 but we're still waiting for `async-native-tls` to release new version to crates.io.

[2021-03-25 08:52] tomusdrw commented on #475
Please provide a full example, I don't see a reason why it wouldn't work.

[2021-03-25 08:52] tomusdrw commented on #475
:thinking: If you are getting a `Decoder` error it's rather the OUTPUT type that is incorrect.

[2021-03-25 11:01] #445 closed

[2021-03-25 11:02] tomusdrw opened #477 "Use `crates.io` deps"
- [ ] async-native-tls (#454)
- [ ] ethabi (#459)

[2021-03-25 13:19] zandent commented on #475
Sure. So in solidity:
'''
    function TransferFunc(
        address payable[] memory senders,
        address payable[] memory receivers,
        ...
    ){....}
'''
Here I want to call the function in RUST using "call_with_confirmations()":
'''
    let tx = contract.call_with_confirmations(
        "TransferFunc",
        (
            i_senders,
            i_receivers,
        ),
        accou

[2021-03-25 13:23] zandent commented on #475
Also, how do I receive error message from Ethereum node when using call_with_confirmations()?
In a function in solidity, I use some require("...") statements to raise error. I saw the error message in the Ethereum node under verbose mode but I didn't receive RPC error reports when using call_with_confirmations(). May I ask how to receive the error message?

[2021-03-26 10:55] tomusdrw commented on #475
That's quite different than the example in the original post. Here I think you simply need:
[code]

Please enable RPC request-response logs on your node to see if the error message is actually transferred to Web3. If it is it should be part of the error object (if it's not then it might be some bug), but I'm assuming it isn't, hence it's a node issue.

[2021-03-31 15:12] tbrunain commented on #410
The PR rust-ethereum/ethabi#187 has been merged and a new version of ethabi has been released today (14.0.0). According to this changelog : https://github.com/rust-ethereum/ethabi/blob/970d47018e0f457440851752a7b46a4dbf793a0b/CHANGELOG.md contains the fix for this issue.

[2021-04-11 13:00] ppoliani opened #480 "Solidity abi.encodePacked"
Is there any way to replicate the behaviour of Solidity ` abi.encodePacked` using this lib?

[2021-04-11 13:02] ppoliani commented on #480
duplicate of https://github.com/tomusdrw/rust-web3/issues/447

[2021-04-11 13:02] #480 closed

[2021-04-18 10:24] ppoliani commented on #422
@Lanjiejie you should simply use the RLP encoded tx to make this work. I think you should be able to do that like this:

[code]

[2021-04-18 18:29] #475 closed

[2021-04-19 13:34] ppoliani opened #482 "Sha3 is significantly slower than a sync alternative solution"
I've been using the [sha3](https://docs.rs/web3/0.15.0/web3/api/struct.Web3Api.html#method.sha3) method for quite some time until I realized it's performing quite badly. To make a comparison I replaced all calls to sha3 with another [crate](https://docs.rs/web3/0.15.0/web3/api/struct.Web3Api.html#method.sha3) that synchronously  calculates sha3. More specifically the execution time dropped from ar

[2021-04-19 16:07] tomusdrw commented on #482
@ppoliani Because the method you linked is simply calling JSON-RPC and the `sha3` is happening on the node. There is a JSON-RPC + transport overhead added to every call.
The reason for the API to exist in the first place is only because the clients expose it and `web3` tries to be a client for all methods.
Feel free to reference any `sha3/keccak256` library you want in your project though and calc

[2021-04-19 16:16] ppoliani commented on #482
@tomusdrw Thanka for the explanation. The rationale of keeping a consistent with the JSON-RPC methods makes sense.

At the same time I believe that keccak256 is such a common task for off-chain services that adding it to a `utils` module would make sense. What do you think? I'm happy to open a PR if that's ok.

[2021-04-19 16:22] tomusdrw commented on #482
I'm kind of hesitant. We currently only require `tiny-keccak` for signing, so it's one dependency less if you don't need signing. I'd rather keep the library minimal and avoid unnecessary dependencies.
Maybe we could additonal example which shows how to `keccak`? What is the specific use case you needed it for?

[2021-04-19 16:32] ppoliani commented on #482
I totally understand that.

My use case is pretty much replicate the following

`keccak256(abi.encodePacked(data))`

The above is a solidity code that off-chain services tend to use quite often. So I have implemented my own encodePacked function and used the sha3 from this crate.

[2021-04-20 13:01] tomusdrw commented on #482
Actually, apologies, it seems that `tiny-keccak` is included unconditionally and we already have [`web3::signing::keccak256`](https://github.com/tomusdrw/rust-web3/blob/47b4f04bd0f3e879d4f937f86cfbfbd1a340811c/src/signing.rs#L170) exposed.

Happy to accept a PR with `encodePacked` (since I believe it's not available in `ethabi`, but should be) and an example how to use both.

[2021-04-20 13:44] e00E opened #483 "rust-web3 cannot decode Infura getBlockByNumber response for pending block"
because Infura sets `miner` to null.

rust-web3 has a non optional author/miner field that defaults to the 0 address if the field is not present in the json:
https://github.com/tomusdrw/rust-web3/blob/5520ec249a011ea2e5de64417054bc3d2405db27/src/types/block.rs#L18

However when testing with Infura I found that they set `miner` to `null` which makes deserialization in rust-web3 fail. Potential solu

[2021-04-20 14:11] tomusdrw commented on #483
I like this one. Can we use `#[serde(deserialize_with = "path")]` for that?

[2021-04-21 14:08] #483 closed

[2021-04-22 18:02] zzeee opened #485 "Abi(InvalidData) while trying to call contract"
1. I've compiled contract with solcjs and deployed it.
I have local abi
2. I've initialized contract using from_json:
Contract::from_json(
        web3.eth(),Address::from_str(contract_address).unwrap(),
        include_bytes!("../ProviderInfo_sol_ProviderInfo.abi"),
    ).unwrap();
3. calling it        let res=contract.call("check", 100, my_account, Options::default() ).await.unwrap();

receiving

[2021-04-27 01:49] ChosunOne opened #486 "Query cannot read public variable"
Attempting to query `token0` on https://etherscan.io/address/0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc#code results in the following error:
[code]

I am querying the contract via the following:
[code]

I can successfully query the `totalSupply` function without issue.

[2021-04-27 01:50] #486 closed

[2021-04-28 12:31] ChosunOne opened #487 "Support calling through proxy contracts"
Some contracts, such as the USDC token contract (https://etherscan.io/address/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48), use a proxy pattern where a call to the contract is delegated via a fallback function to another contract.  Currently attempting to follow this pattern results in an `invalid abi` error since the proxy contract abi itself does not match that of the proxied contract.

Please co

[2021-04-28 12:38] ChosunOne commented on #487
One way you could support this it to enable an optional map of abis to addresses, so that you can provide an abi for a specified delegated contract.

[2021-04-28 13:09] ChosunOne commented on #487
An effective workaround is to edit the abi of the proxy contract to include that of the proxied contract.  While not idea, completely funcitonal.

[2021-04-29 10:20] devnmhoang commented on #373
I got the same error. Does anyone have a solution? Thanks

[2021-04-30 14:26] tomusdrw opened #490 "Add `CallRequest` and `TransactionRequest` builders"
Currently it's a bit cumbersome to define these structs, you can always do:
[code]
but it still might be more convenient to have a builder.

[2021-05-06 16:02] #463 closed

[2021-05-10 14:41] #485 closed, assigned to nobody

[2021-05-16 14:30] midnightexigent opened #492 "is this the intended way to call `wait_for_confirmations` ?"
I need to directly call `wait_for_confirmations`

this won't work
[code]
and since `EthFilter`'s `new` method is private, I had to do
[code]

am I supposed to be doing this ?

[2021-05-17 19:37] tomusdrw commented on #492
[code]

I think this is supposed to work, isn't it?

[2021-05-17 19:58] #303 closed

[2021-05-18 05:51] midnightexigent commented on #492
simple as that. thanks

[2021-05-18 05:51] #492 closed

[2021-05-19 05:52] asmita-mf opened #493 "Build failed as error- no `sys` in the root"
I am integrating web3 as depenedency in substrate-node-template(https://github.com/substrate-developer-hub/substrate-node-template)  inside pallet/template/cargo.toml.

Getting error as sys not defined.
Can you explain why I am getting this. or how I can resolve

Complete Error is mentioned in gist: https://gist.github.com/asmita-mf/88f0fad70d7f56229bee431316f300e2

[2021-05-19 08:07] tomusdrw commented on #493
You might need to compile with `wasm` feature for substrate. I'm not sure if the crate is compatible with `no-std` wasm though, never tested that.

[2021-05-19 09:37] asmita-mf commented on #493
Hi
I have added as below.

In cargo.toml

[dependencies]
web3 = { version = "0.14.0",  optional = true }

[features]
default = ['std']
std = [
	'frame-support/std',
	'web3'
]
Sys error resolved but when I imported web3 in lib.rs as below
#![cfg_attr(not(feature = "std"), no_std)]

#[cfg(test)]
mod tests;

use web3::{
    contract::{Contract, Options},
    futures::{future, StreamExt},
    types::

[2021-05-19 14:01] tomusdrw commented on #493
Substrate runtime is built without `std` feature. Please read on [cargo features](https://doc.rust-lang.org/cargo/reference/features.html).

In your example, you declare `web3` as optional dependency that is only included if `std` feature is enabled. Hence you are getting `web3` errors when `no_std` build is being done - cause the dependency is simply not there.

Also please ask Substrate-specific

[2021-05-19 14:01] #493 closed

[2021-05-22 20:40] bryanapperson commented on #410
@tomusdrw This still hasn't made it's way into a release, it seems. Is there a way we could release a 0.15.1 with this?

[2021-05-24 11:56] tomusdrw commented on #410
@bryanapperson release `0.16.0` now, let me know if that's good enough or if there are some unwanted changes and you'd rather have `0.15.1`.

[2021-06-08 08:35] asmita-mf opened #499 "Issue with transaction receipt"
For contract method call I have used signed_call_with_confirmations function
Below is the code snippet
	let tx = {
			let hex_key = hex::encode(eth_key);

		        futures::executor::block_on(contract.signed_call_with_confirmations("sum", (number), Options::default(),
                        val.try_into().unwrap(),
			&( hex_key.parse().unwrap())))
			.unwrap();
		};

I have verified with remix

[2021-06-14 12:42] fjrojas-ws opened #500 "Testing rust-web3 with Infura"
I'm trying to publish an smartcontract in Infura using rust-web3, but because I have the private keys in the local side not in Infura, I use the method "sign_and_execute" thinking that rust-web3 could implement the transaction signature before calling infura, but actually that's not the way because it gives the following error;

`Error: Deployment(Api(Rpc(Error { code: ServerError(-32000), message

[2021-06-14 12:49] tomusdrw commented on #500
Please take a look at #391. AFAIR currently there is no way to deploy a contract, but sign the transaciton with a local keystore.

[2021-06-14 12:49] #500 closed

[2021-06-16 03:28] japanesealexjones opened #501 "thread 'main' panicked at 'not currently running on a Tokio 0.2.x runtime."
Hello all, I'm learning how to use Web3 and Rust. I'm trying to run the simple example found on the Readme, but getting the following error:

`thread 'main' panicked at 'not currently running on a Tokio 0.2.x runtime.', /mydir/tokio-0.2.25/src/runtime/handle.rs:118:28`

The code I'm using would be the following:

[code]

I'll also share my Cargo.toml:
[code]

Would anybody know how to fix this iss

[2021-06-16 21:32] tomusdrw commented on #501
@japanesealexjones AFAICT the library refuses to work on `tokio=1.0` here, and we indeed require `tokio=0.2` in `web3=0.15.0`. Could you consider updating to `0.16.0` or changing `tokio` requirement to `0.2` in your `Cargo.toml` file?

[2021-06-17 02:54] japanesealexjones commented on #501
That worked perfectly! Thanks @tomusdrw.

One last question if you don't mind: I switched to Tokio 0.2 and still on web3 0.15.0. If Iupdate to 0.16.0. Would I still have to use Tokio 0.2?

[2021-06-17 07:55] tomusdrw commented on #501
Honestly I'm not sure if `tokio=1.0` library will be able to run on `tokio=0.2` runtime. My guess is that with `0.16.0` it's better to upgrade to `tokio=1.0` everywhere, but if that's not feasible best to just try it out :) Please let us know how it went, cheers!

[2021-06-17 07:55] #501 closed

[2021-06-17 14:34] hex1c opened #504 "running through valgrind shows memory leaks"
I am currently working in a project where i have to get every new blocks and parse it. Every thing works fine except when i run it for a long time it causes stack to overflow. used **valgrind** and found that there are memory leaks.
i use the recent version of **web3 0.16.0**
[code]
from this compiled binary i get the follwing **valgrind** logs
[code]
is there a way to avoid memory leaks i need to

[2021-06-17 20:43] tomusdrw commented on #504
@hex1c can you try `web3=0.15`? The stack trace seems to indicate some issue with underlying http library and we've recently switch to reqwest.

[2021-06-18 06:45] hex1c commented on #504
I tried **web3=0.15** it still have the same leak

[2021-06-18 08:08] tomusdrw commented on #504
Given the data you provide and the minimal example I'm really hesitant to believe that the leak has anything to do with `web3` library. The `Http::new` method you are calling is simply creating a `reqwest::Client` instance. Could please simplify the example to something like this:
[code]
if this yields the same results, I'd argue it should be reported upstream.

[2021-06-19 05:36] hex1c commented on #504
Thanks for making me understand and i also found out when i run it through a loop and the mem leak stays constant
I think i don't have any thing to worry about now. And thanks for helping me out

[2021-06-19 05:36] #504 closed

[2021-06-19 14:02] stnbu opened #505 "Offer to write documentation"
Hello!

I'm having a hard time finding documentation and/or examples for `rust-web3`. I'm new to rust, so I have that as a disadvantage (but I do bring fresh eyes.)

I see the `examples` directory, but as a rust newbie, I run into difficulties running these. I'm sure it's something simple, which I'd love to document or improve somehow to lower the barrier to folks like me.

I would be most gratefu

[2021-06-19 19:16] bytesoul commented on #505
Hi I am pretty new to this as well and have been working on something similar to your end goal.

So far I have the web3 module compiling to wasm and wasm --target web and I am able to connect to a local geth instance.
Some notes
I would start with the wasm-bindgen example https://github.com/rustwasm/wasm-bindgen/tree/master/examples/without-a-bundler

Add the web3 module in the cargo toml like thi

[2021-06-20 18:26] stnbu commented on #505
I've since got sidetracked to `ethers-rs` but I'm still figuring things out there obviously. I'm sure I'll circle back here since there is more talk of wasm support in this project. I've also figured out my issues and probably could make `rust-web3` work for me now. I'm not sure what I was doing wrong. It had to do with some or all of `tokio` missing but I think I've since found the right `Cargo.t

[2021-06-21 20:55] eute opened #506 "Getting error "the trait bound `(): Tokenizable` is not satisfied" when calling contract.query()"
I'm new to the rust-web3 crate, so forgive me for any potential beginner mistakes.
When I try to query the balance for an ERC-20 token, I get this compile error:

[code]

I followed the example `examples/contract.rs`, specifically the section under `// Accessing existing contract` but to no avail. Regardless, it doesn't even seem to be affected by anything I pass into it or change around it, it's

[2021-06-21 23:31] eute commented on #506
Okay, I checked the source code of `query()`, noticed that the variable with the `Detokenize` trait is the return variable, and now I seem to have fixed it by stating the return type upfront like so:
[code]
Noticed that `examples/contract.rs` does this by declaring the type of the `balance` variable, which is also a solution. My mistake for missing that, although could this be documented and warne

[2021-06-22 08:08] tomusdrw commented on #506
Good point. Addressed in #507

[2021-06-22 08:41] tomusdrw commented on #505
@bytesoul The `web3::Result` return type of `main` is there for convenience so that we can use `?` in the code. You could simply just unwrap or handle the last error and return something wasm-compatible.

@stnbu More than happy to merge more sophisticated examples and a base crate setup. So far the examples in `example` directory seemed to be sufficient, but yeah, the `Cargo.toml` setup was assume

[2021-06-22 08:41] tomusdrw commented on #499
Is the backend you are using actaully producing empty blocks? The `web3` library might simply be waiting for enough confirmations (As the name suggests), but since empty blocks are not being produced at all, we keep waiting.

[2021-06-22 08:44] tomusdrw commented on #487
Why isn't this ideal? If the proxy contract supports the exact same interface that's the proper way of dealing with that AFAIK. Adding support for one specific proxy contract types (how would we even detect that from the ABI?) is not something I see a clear use case for.

[2021-06-22 14:27] stnbu commented on #505
No, this was in an online "tutorial" type thing. Medium.com or similar. Thanks for the response. I'm still doing a lot of "circling" but I definitely want to contribute. Having learned a bit more, `ethers-rs` still appears to be less far along than `rust-web3` in regards to wasm support.

[2021-06-23 02:03] Recmo opened #508 "Missing `impl From<Block> for BlockHeader`"
Surprisingly, there is no way to get the header for a block.

[code]

[2021-06-24 22:07] tomusdrw commented on #508
PRs welcome :)

[2021-06-29 19:46] eute opened #510 "No method `sign_transaction` found"
When I try to sign a transaction, I get the following error:

[code]

Any idea what could be causing this? it also seems like all other methods except `hash_message` documented at [https://docs.rs/web3/0.16.0/web3/api/struct.Accounts.html](https://docs.rs/web3/0.16.0/web3/api/struct.Accounts.html) return the same error.

[2021-06-29 20:07] eute commented on #510
And again I have figured it out by looking into the source code. Noticed the `#[cfg(feature = "signing")]` line which unlocks the rest of the `Accounts` namespace. I've put the feature in my Cargo.toml and now it works.

This feature isn't mentioned in the "Cargo Features" section in README.md, however. This is especially critical for Windows users who have to compile with non-default features (wi

[2021-06-29 20:43] #506 closed

[2021-06-29 20:54] tomusdrw commented on #510
Thanks for reporting! Addressed in https://github.com/tomusdrw/rust-web3/pull/511

[2021-06-29 21:00] #510 closed

[2021-07-01 00:51] eute opened #512 "Getting transport errors"
I'm having issues with both WebSocket and Http transports.

For WebSocket: when trying to do some operations such as getting nonce and signing transactions, about 90% of the time I get an error `Transport error: Cannot send request. Internal task finished`. I feel like it seems to happen after long periods of time since the program has first connected to the WebSocket transport in the correspondin

[2021-07-01 04:34] holygits opened #513 "Receipt missing from/to fields"
Not sure whether it should be included or not
Happy to make PR if it should
https://openethereum.github.io/JSONRPC-eth-module#eth_gettransactionreceipt

[2021-07-01 09:06] tomusdrw commented on #513
@holygits thanks for reporting! Happy to accept the PR.

[2021-07-02 11:37] #513 closed

[2021-07-05 21:54] isim95 commented on #214
how can we connect to an address, such as 1inch exchange? Sorry, I'm new to Rust and haven't been able to get the contract_log_pubsub to work

[2021-07-06 00:17] isim95 commented on #505
hey @stnbu, I am in a similar situation, new to learning Rust + Solidity by creating a dapp based in rust, but am having trouble getting some of the exmaples to run (in my case I'm trying to figure out how to listen to a particular contract's transactions for each new block)

[2021-07-06 19:29] ilmoi opened #516 "Example of sending a transaction on actual Eth network (eg via Infura)"
I've managed to successfully send a transaction on ganache using [send_trandaction()](https://docs.rs/web3/0.16.0/web3/api/struct.Eth.html#method.send_transaction). However, the same method panics when trying  to do it on actual Ethereum via Infura. Which makes sense I guess since at no point did I use the private key or sign the transaction.

From [this thread](https://stackoverflow.com/questions

[2021-07-07 07:35] ilmoi commented on #516
Nevermind, found an answer in an older question [here](https://github.com/tomusdrw/rust-web3/issues/422).

For anyone with the same problem in the future:
1. create a `TransactionParameters` object (note: different to `TransactionRequest`)
[code]
2. sign it with your private key
[code]
3. send to infura as raw transaction
[code]

[2021-07-07 07:35] #516 closed

[2021-07-07 07:37] tomusdrw commented on #516
@ilmoi thanks for sharing the solution. I'd be more than happy to accept the code as an example in `examples` directory. Would you be up for that?

[2021-07-07 08:17] ilmoi commented on #516
On it.

[2021-07-07 08:46] ilmoi commented on #516
Done - https://github.com/tomusdrw/rust-web3/pull/517

[2021-07-07 16:26] isim95 opened #518 "How to select which address to subscribe to in contract_log_pubsub"
Trying to watch all the transactions from a given address, that contain a given token pair. However, I have been unable to figure out how to get the example code to work, my main issue is getting the address I want to view into the accounts variable, and being able to view the contract from there.

Sorry, I am new to systems development and Rust, so am struggling some with the documentation, so fo

[2021-07-08 01:52] #518 closed

[2021-07-08 13:58] stnbu commented on #505
Hey, @isim95 I invited you to [abandoned-addresses](https://github.com/stnbu/abandoned-addresses) which is a sort of an otherwise pointless learn-by-doing project I periodically use for stuff like this. My goal is: replace the ethers.js stuff with Rust WASM. I realize that that _might_ be impractical or a bad idea for other reasons, but it's just a pallet for me to practice at Rust. And I can imag

[2021-07-11 19:48] steadylearner opened #519 "How to find the correct hex value for topics to listen to events?"
I am following the example to listen to events and use their values.

I have problem to find the value for https://github.com/tomusdrw/rust-web3/blob/master/examples/contract_log_filter.rs#L34

I think d282f389399565f3671145f5916e51652b60eee8e5c759293a2f5771b8ddfd2e is some kind of hashed value of https://github.com/tomusdrw/rust-web3/blob/master/examples/contracts/SimpleEvent.sol#L4

When I test

[2021-07-12 08:39] tomusdrw commented on #519
They keyword to look for is Solidity Events and Log Topics relationship. For instance here: https://ethereum.stackexchange.com/questions/12950/what-are-solidity-events-and-how-they-are-related-to-topics-and-logs